.site-nav {
	grid-area: site-nav;
	background-color: $site-nav--bg-color;

	ul {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: stretch;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		flex: 1;
		flex-flow: column nowrap;
		justify-content: stretch;
		align-items: stretch;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	a {
		padding: 1em;
		flex: 1 1 auto;
		text-decoration: none;
		color: getContrast($site-nav--bg-color);

		&:hover, &:focus {
			font-weight: bold;
			background-color: $site-nav-hover--bg-color;
			color: getContrast($site-nav-hover--bg-color);
		}
		&:active {
			background-color: $site-nav-active--bg-color;
			color: getContrast($site-nav-active--bg-color);
		}
	}
}