/* ====================================
		COMPONENT: CARD
		card, block, hero
 * ==================================== */

.card {
	@include flex();
	
	background-color: lightenColor(getColor('neutral-100'));
	border-radius: 0.15rem;
	border: 1px solid getColor('neutral-200');

	@extend %margin-xl-around;
}

.hero {
	background-color: getColor('neutral-100');
	border-radius: 0.15rem;
	border: 1px solid getColor('neutral-400');
	color: getContrast(getColor('neutral-100'));
	margin: 2rem;
	padding: 1rem;
}