/* ====================================
		COMPONENT: HR
 * ==================================== */
.hr {
	border: 0;
	outline: 0;
	width: 95%;
	height: map-get($hr-sizes, 'md');
}

@each $size,$height in $hr-sizes {
	.hr-#{$size} {
		height: $height;
	}
}

@each $name,$color in $palette {
	.hr-#{$name} {
		background-color: $color;
	}
}