/* ====================================
		HELPERS
		1. bg, border, text colors
		2. Typography & alignment
		3. Padding
		4. Margin
 * ==================================== */
$colorNames: map-keys($palette);
$colors: map-values($palette);

@for $n from 1 through length($colorNames) {
	$name: nth($colorNames, $n);
	$val: nth($colors, $n);
	.bg-#{$name} {
		background-color: $val;
		color: getContrast($val);
	}

	.border-#{$name} { border: 1px solid $val; }
	.text-#{$name} { color: $val; }
}

.bg-dark {
	background-color: getVal('color-dark', $defaults);
	color: getContrast(getVal('color-dark', $defaults));
}
.bg-light {
	background-color: getVal('color-light', $defaults);
	color: getContrast(getVal('color-light', $defaults));
}

.border-dark { border-color: getVal('color-dark', $defaults); }
.border-light { border-color: getVal('color-light', $defaults); }

.text-dark { color: getVal('color-dark', $defaults); }
.text-light { color: getVal('color-light', $defaults); }

/* ====================================
		HELPERS: TYPOGRAPHY & ALIGNMENT
 * ==================================== */

.text {
	@each $position in $text-positions {
		&-#{$position} { text-align: unquote($position); }
	}
}

.justify {
	@each $type in $justify {
		&-#{$type} { justify-content: unquote($type); }
	}
}

.align {
	@each $type in $align {
		&-#{$type} { align-items: unquote($type); }
	}
}

/* ====================================
		HELPERS: PADDING
 * ==================================== */
.no {
	&-pad { padding: 0; }
	&-margin { margin: 0; }
}

.row.col-no-pad > .col { padding: 0; }
.row.col-no-margin > .col { margin: 0; }

.pad {
	@each $position in $border-sides {
		&-#{$position} {
			padding-#{$position}: $default-pad;
		}
	}

	@each $position in $other {
		&-#{$position} {
			@if $position == 'around' { 
				padding: $default-pad; 
			}
			@if $position == 'x' { 
				padding-left: $default-pad;
				padding-right: $default-pad;
			}
			@if $position == 'y' {
				padding-top: $default-pad;
				padding-bottom: $default-pad;
			}
		}
	}

	@each $size,$pad in $padding-sizes {
		@each $position in $border-sides {
			&-#{$size}-#{$position} {
				padding-#{$position}: ($pad * 2);
			}
		}

		@each $position in $other {
			&-#{$size}-#{$position} {
				@if $position == 'around' { 
					padding: $pad; 
				}
				@if $position == 'x' { 
					padding-left: $pad;
					padding-right: $pad;
				}
				@if $position == 'y' {
					padding-top: $pad;
					padding-bottom: $pad;
				}
			}
		}
	}
}

/* ====================================
		HELPERS: MARGIN
 * ==================================== */
.margin {
	@each $position in $border-sides {
		&-#{$position} {
			padding-#{$position}: $default-margin;
		}
	}

	@each $position in $other {
		&-#{$position} {
			@if $position == 'around' { padding: $default-margin; }
			@if $position == 'x' { 
				padding-left: $default-margin;
				padding-right: $default-margin;
			}
			@if $position == 'y' {
				padding-top: $default-margin;
				padding-bottom: $default-margin;
			}
		}
	}

	@each $size,$margin in $margin-sizes {
		@each $position in $border-sides {
			&-#{$size}-#{$position} {
				margin-#{$position}: $margin;
			}
		}
		@each $position in $other {
			&-#{$size}-#{$position} {
				@if $position == 'around' { 
					margin: $margin; 
				}
				@if $position == 'x' { 
					margin-left: $margin;
					margin-right: $margin;
				}
				@if $position == 'y' {
					margin-top: $margin;
					margin-bottom: $margin;
				}
			}
		}
	}
}