body {
	font-family: getVal('copy', $fonts);
}

$padding: 1em;
$margin: 0.75em;

p {
	padding: $padding 1em;
	margin: $margin;
	& + & {
		margin-bottom: ($margin * 3);
	}
}

$n: 3;
@for $i from 1 through 6 {
	$lh: $n * 0.85; $m: $n * 0.17; $p: $n * 0.08;
	h#{$i}, .h#{$i} {
		font-family: getVal('heading', $fonts);
		font-size: $n * 1em;
		line-height: $lh * 1rem;
		margin: ($padding * 0.25) ($padding / 2);
		padding: ($margin * 0.5) ($margin / 2);
		@if $i == 2 {
			margin: 0;
			padding: ($m + $p * 3rem) $padding;
		}
	}
	$n: $n * 0.9;
}

h2, .h2 {
	background-color: getColor('accent', $coreColors);
	color: getContrast('accent', $coreColors);
	//margin: 0;
}

h3, h4, h5,
.h3, .h4, .h5 {
	padding-left: $margin;
	margin-left: $margin;
	border-left: 0.35em solid getColor('accent', $coreColors);
}

h6, .h6 {
	color: getColor('accent-500');
}

.title {
	font-size: 3.5em;
	padding-left: 1em;
	margin-left: 0.15em;
	margin-right: 0.15em;
	border-top: 3px solid getColor('accent', $coreColors);
	border-bottom: 3px solid getColor('accent', $coreColors);
	@include mq($from: tablet) {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

// MEDIA QUERIES


@include mq($from: desktop) {
	$padding: 0.5em;
	$margin: 0.25em;
	$n: 3;
	@for $i from 1 through 6 {
		$lh: $n * 0.85; $m: $n * 0.17; $p: $n * 0.08;
		h#{$i}, .h#{$i} {
			font-family: getVal('heading', $fonts);
			font-size: $n * 1em;
			line-height: $lh * 1rem;
			margin: ($padding * 0.75) ($padding / 2);
			padding: ($margin * 0.75) ($margin / 2);
			@if $i == 2 {
				margin: 0;
				padding: ($m + $p * 3rem) $padding;
			}
		}
		$n: $n * 0.85;
	}

	.title {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	p {
		padding: $padding / 2;
		& + & {
			margin-bottom: $margin * 1.5;
		}
	}
	p + p:last-child {
		padding-bottom: 1.5em;
	}
}