body {
	font-family: getVal('copy', $fonts);
	color: getVal('text-dark', $defaults);
}

a {
	text-decoration: none;
	color: getColor('secondary-400');
	&:hover {
		color: getColor('primary-400');
		@include fade();
	}
}

p {
	$pad: map-get($defaults, 'padding');
	$margin: map-get($defaults, 'margin');
	padding: 0 1em $pad;
	margin: 0 $margin $margin;
	& + & {
		margin-bottom: (map-get($defaults, 'margin') * 3);
	}
}

$n: 3;
@for $i from 1 through 6 {
$m: $n * 0.17; $p: $n * 0.08;
	h#{$i}, .h#{$i} {
		font-family: getVal('heading', $fonts);
		font-size: $n * 1em;
		line-height: 1.2em;
		margin: 1rem 0.5rem;
		padding: 0.5rem 0.5rem;
		@if $i == 2 {
			margin: 0;
			padding: ($m + $p * 3rem) map-get($defaults, 'padding');
		}
	}
	$n: $n * 0.9;
}

.h2 {
	background-color: $heading-color;
	color: getContrast($heading-color);
}

.h3, .h4, .h5 {
	padding-left: map-get($defaults, 'margin');
	margin-left: map-get($defaults, 'margin');
	border-left: 0.35em solid $heading-color;
}

.h6 {
	color: getDarkest($heading-color);
}

.title {
	//font-size: 3.5em;
	padding-left: 1em;
	margin-left: 0.15em;
	margin-right: 0.15em;
	border-top: 3px solid $heading-color;
	border-bottom: 3px solid $heading-color;
	@include mq($from: tablet) {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

// MEDIA QUERIES
@include mq($from: desktop) {
	$n: 3;
	@for $i from 1 through 6 {
		$m: $n * 0.17; $p: $n * 0.08;
		h#{$i}, .h#{$i} {
			font-family: getVal('heading', $fonts);
			font-size: $n * 1em;
			line-height: 1.2em;
			margin: (map-get($defaults, 'padding') * 0.75) (map-get($defaults, 'padding') / 2);
			padding: (map-get($defaults, 'margin') * 0.75) (map-get($defaults, 'margin') / 2);
			@if $i == 2 {
				margin: 0;
				padding: ($m + $p * 3rem) map-get($defaults, 'padding');
			}
		}
		$n: $n * 0.85;
	}

	.title {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	p {
		$pad: map-get($defaults, 'padding');
		padding: 0 $pad $pad;
		& + & {
			margin-bottom: map-get($defaults, 'margin') * 1.5;
		}
	}
	p + p:last-child {
		padding-bottom: 1.5em;
	}
}

.text-columns {
	$max: null;
	@if $max-columns > 6 { $max: 6; } @else { $max: $max-columns; }
	@for $i from 1 through $max {
		&-#{$i} {
			columns: $i;
		}
	}
}