$sizes: ('xs','sm','md','lg','xl');
$text-positions: ('left', 'center', 'right');
$border-sides: ('top', 'right', 'bottom', 'left');
$border-corners: ('top-left', 'top-right', 'bottom-right', 'bottom-left');
$other: ('around', 'x', 'y');
$justify: ('start', 'center', 'end', 'space-between', 'space-around', 'space-evenly');
$align: ('stretch','center', 'start', 'end');