form,
.form {
	flex: 1;
	padding: 1rem;
	margin: 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: stretch;
	position: relative;
}

.form-group {
	position: relative;
	padding: 1rem;
	padding-top: 1.5rem;
	flex: 1;
}