.form {
	padding: 1em;
	display: flex;
	flex-flow: column nowrap;
}

.form-group {
	flex: 1;
	display: flex;
	padding: 0.5em;
}

.form-field {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& + & {
		margin-left: 1.5em;
	}
}

label {
	margin-right: 0.25em;
}

input, textarea {
	flex: 1 0 auto;
}