### WORKS FOR LINUX ###
#DirectoryIndex index.php

#RewriteBase /

#RewriteEngine On 
#RewriteRule ^$ public/index.php [L]
#RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

### WINDOWS?? ###
#RewriteEngine On
#RewriteRule ^(.*)$ public/$1 [L]