@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,900|Assistant:400,700|Inconsolata&display=swap");
/* NAV, GENERAL */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
	margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
	display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
	font-size: 2em;
	margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
	display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
	margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
	display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
	outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
	/* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
	font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
	font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
	font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
	background-color: #ff0;
	color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
	font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sub {
	bottom: -0.25em; }

sup {
	top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
	display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
	display: none;
	height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
	border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
	overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
	overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
	/* 1 */
	text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	/**
       * Remove the inner border and padding in Firefox.
       */
	/**
       * Restore the focus styles unset by the previous rule.
       */ }
	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
		border-style: none;
		padding: 0; }
	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
		outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
	overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	/**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
	[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
		-webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	color: inherit;
	/* 2 */
	white-space: normal;
	/* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
	overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
	display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
	display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
	display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
	display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
	display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
	display: none; }

/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
html, body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	html *, html *:before, html *:after, body *, body *:before, body *:after {
		-webkit-box-sizing: inherit;
		        box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%; }

#colors-default p, #colors-adaptive p, #colors-static p {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	padding: 0;
	margin: 0;
	line-height: 1rem;
	font-size: 1rem;
	min-height: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }

#colors-default p:nth-child(1) {
	background-color: #8bc7db;
	color: #040404; }
	#colors-default p:nth-child(1):after {
		content: "primary-100"; }

#colors-default p:nth-child(2) {
	background-color: #68b6d0;
	color: #040404; }
	#colors-default p:nth-child(2):after {
		content: "primary-200"; }

#colors-default p:nth-child(3) {
	background-color: #44a4c5;
	color: #e8e9e8; }
	#colors-default p:nth-child(3):after {
		content: "primary-300"; }

#colors-default p:nth-child(4) {
	background-color: #348aa7;
	color: #e8e9e8;
	border: 2px solid black; }
	#colors-default p:nth-child(4):after {
		content: "primary-400"; }

#colors-default p:nth-child(5) {
	background-color: #2c748c;
	color: #e8e9e8; }
	#colors-default p:nth-child(5):after {
		content: "primary-500"; }

#colors-default p:nth-child(6) {
	background-color: #235e72;
	color: #e8e9e8; }
	#colors-default p:nth-child(6):after {
		content: "primary-600"; }

#colors-default p:nth-child(7) {
	background-color: #1b4857;
	color: #e8e9e8; }
	#colors-default p:nth-child(7):after {
		content: "primary-700"; }

#colors-default p:nth-child(8) {
	background-color: #dcf2bf;
	color: #040404; }
	#colors-default p:nth-child(8):after {
		content: "secondary-100"; }

#colors-default p:nth-child(9) {
	background-color: #d1efab;
	color: #040404; }
	#colors-default p:nth-child(9):after {
		content: "secondary-200"; }

#colors-default p:nth-child(10) {
	background-color: #c7eb98;
	color: #040404; }
	#colors-default p:nth-child(10):after {
		content: "secondary-300"; }

#colors-default p:nth-child(11) {
	background-color: #bce784;
	color: #040404;
	border: 2px solid black; }
	#colors-default p:nth-child(11):after {
		content: "secondary-400"; }

#colors-default p:nth-child(12) {
	background-color: #a2de54;
	color: #040404; }
	#colors-default p:nth-child(12):after {
		content: "secondary-500"; }

#colors-default p:nth-child(13) {
	background-color: #87cf28;
	color: #040404; }
	#colors-default p:nth-child(13):after {
		content: "secondary-600"; }

#colors-default p:nth-child(14) {
	background-color: #679f1f;
	color: #e8e9e8; }
	#colors-default p:nth-child(14):after {
		content: "secondary-700"; }

#colors-default p:nth-child(15) {
	background-color: #fdeed0;
	color: #040404; }
	#colors-default p:nth-child(15):after {
		content: "tertiary-100"; }

#colors-default p:nth-child(16) {
	background-color: #fde9c2;
	color: #040404; }
	#colors-default p:nth-child(16):after {
		content: "tertiary-200"; }

#colors-default p:nth-child(17) {
	background-color: #fce4b4;
	color: #040404; }
	#colors-default p:nth-child(17):after {
		content: "tertiary-300"; }

#colors-default p:nth-child(18) {
	background-color: #fcdfa6;
	color: #040404;
	border: 2px solid black; }
	#colors-default p:nth-child(18):after {
		content: "tertiary-400"; }

#colors-default p:nth-child(19) {
	background-color: #fac866;
	color: #040404; }
	#colors-default p:nth-child(19):after {
		content: "tertiary-500"; }

#colors-default p:nth-child(20) {
	background-color: #f8b125;
	color: #040404; }
	#colors-default p:nth-child(20):after {
		content: "tertiary-600"; }

#colors-default p:nth-child(21) {
	background-color: #d48f07;
	color: #e8e9e8; }
	#colors-default p:nth-child(21):after {
		content: "tertiary-700"; }

#colors-default p:nth-child(22) {
	background-color: #e8ac95;
	color: #040404; }
	#colors-default p:nth-child(22):after {
		content: "accent-100"; }

#colors-default p:nth-child(23) {
	background-color: #e19375;
	color: #040404; }
	#colors-default p:nth-child(23):after {
		content: "accent-200"; }

#colors-default p:nth-child(24) {
	background-color: #da7a55;
	color: #e8e9e8; }
	#colors-default p:nth-child(24):after {
		content: "accent-300"; }

#colors-default p:nth-child(25) {
	background-color: #d36135;
	color: #e8e9e8;
	border: 2px solid black; }
	#colors-default p:nth-child(25):after {
		content: "accent-400"; }

#colors-default p:nth-child(26) {
	background-color: #b64f28;
	color: #e8e9e8; }
	#colors-default p:nth-child(26):after {
		content: "accent-500"; }

#colors-default p:nth-child(27) {
	background-color: #944020;
	color: #e8e9e8; }
	#colors-default p:nth-child(27):after {
		content: "accent-600"; }

#colors-default p:nth-child(28) {
	background-color: #713119;
	color: #e8e9e8; }
	#colors-default p:nth-child(28):after {
		content: "accent-700"; }

#colors-default p:nth-child(29) {
	background-color: #8b938b;
	color: #e8e9e8; }
	#colors-default p:nth-child(29):after {
		content: "neutral-100"; }

#colors-default p:nth-child(30) {
	background-color: #697169;
	color: #e8e9e8; }
	#colors-default p:nth-child(30):after {
		content: "neutral-200"; }

#colors-default p:nth-child(31) {
	background-color: #494e49;
	color: #e8e9e8; }
	#colors-default p:nth-child(31):after {
		content: "neutral-300"; }

#colors-default p:nth-child(32) {
	background-color: #282b28;
	color: #e8e9e8;
	border: 2px solid black; }
	#colors-default p:nth-child(32):after {
		content: "neutral-400"; }

#colors-default p:nth-child(33) {
	background-color: #222422;
	color: #e8e9e8; }
	#colors-default p:nth-child(33):after {
		content: "neutral-500"; }

#colors-default p:nth-child(34) {
	background-color: #1b1d1b;
	color: #e8e9e8; }
	#colors-default p:nth-child(34):after {
		content: "neutral-600"; }

#colors-default p:nth-child(35) {
	background-color: #151615;
	color: #e8e9e8; }
	#colors-default p:nth-child(35):after {
		content: "neutral-700"; }

#colors-default p:nth-child(36) {
	background-color: #8bdb9f;
	color: #040404; }
	#colors-default p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(36):after {
		text-align: center;
		content: "primary-analogous1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(37) {
	background-color: #68d082;
	color: #040404; }
	#colors-default p:nth-child(37):after {
		content: "primary-analogous1-200"; }

#colors-default p:nth-child(38) {
	background-color: #44c565;
	color: #040404; }
	#colors-default p:nth-child(38):after {
		content: "primary-analogous1-300"; }

#colors-default p:nth-child(39) {
	background-color: #34a751;
	color: #e8e9e8; }
	#colors-default p:nth-child(39):after {
		content: "primary-analogous1-400"; }

#colors-default p:nth-child(40) {
	background-color: #2c8c44;
	color: #e8e9e8; }
	#colors-default p:nth-child(40):after {
		content: "primary-analogous1-500"; }

#colors-default p:nth-child(41) {
	background-color: #237237;
	color: #e8e9e8; }
	#colors-default p:nth-child(41):after {
		content: "primary-analogous1-600"; }

#colors-default p:nth-child(42) {
	background-color: #1b572a;
	color: #e8e9e8; }
	#colors-default p:nth-child(42):after {
		content: "primary-analogous1-700"; }

#colors-default p:nth-child(43) {
	background-color: #8bdbc7;
	color: #040404; }
	#colors-default p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(43):after {
		text-align: center;
		content: "primary-analogous2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(44) {
	background-color: #68d0b6;
	color: #040404; }
	#colors-default p:nth-child(44):after {
		content: "primary-analogous2-200"; }

#colors-default p:nth-child(45) {
	background-color: #44c5a5;
	color: #040404; }
	#colors-default p:nth-child(45):after {
		content: "primary-analogous2-300"; }

#colors-default p:nth-child(46) {
	background-color: #34a78b;
	color: #e8e9e8; }
	#colors-default p:nth-child(46):after {
		content: "primary-analogous2-400"; }

#colors-default p:nth-child(47) {
	background-color: #2c8c74;
	color: #e8e9e8; }
	#colors-default p:nth-child(47):after {
		content: "primary-analogous2-500"; }

#colors-default p:nth-child(48) {
	background-color: #23725e;
	color: #e8e9e8; }
	#colors-default p:nth-child(48):after {
		content: "primary-analogous2-600"; }

#colors-default p:nth-child(49) {
	background-color: #1b5748;
	color: #e8e9e8; }
	#colors-default p:nth-child(49):after {
		content: "primary-analogous2-700"; }

#colors-default p:nth-child(50) {
	background-color: #8b9fdb;
	color: #e8e9e8; }
	#colors-default p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(50):after {
		text-align: center;
		content: "primary-analogous3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(51) {
	background-color: #6881d0;
	color: #e8e9e8; }
	#colors-default p:nth-child(51):after {
		content: "primary-analogous3-200"; }

#colors-default p:nth-child(52) {
	background-color: #4464c5;
	color: #e8e9e8; }
	#colors-default p:nth-child(52):after {
		content: "primary-analogous3-300"; }

#colors-default p:nth-child(53) {
	background-color: #3451a7;
	color: #e8e9e8; }
	#colors-default p:nth-child(53):after {
		content: "primary-analogous3-400"; }

#colors-default p:nth-child(54) {
	background-color: #2c448c;
	color: #e8e9e8; }
	#colors-default p:nth-child(54):after {
		content: "primary-analogous3-500"; }

#colors-default p:nth-child(55) {
	background-color: #233772;
	color: #e8e9e8; }
	#colors-default p:nth-child(55):after {
		content: "primary-analogous3-600"; }

#colors-default p:nth-child(56) {
	background-color: #1b2a57;
	color: #e8e9e8; }
	#colors-default p:nth-child(56):after {
		content: "primary-analogous3-700"; }

#colors-default p:nth-child(57) {
	background-color: #9f8bdb;
	color: #e8e9e8; }
	#colors-default p:nth-child(57):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(57):after {
		text-align: center;
		content: "primary-analogous4-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(58) {
	background-color: #8268d0;
	color: #e8e9e8; }
	#colors-default p:nth-child(58):after {
		content: "primary-analogous4-200"; }

#colors-default p:nth-child(59) {
	background-color: #6544c5;
	color: #e8e9e8; }
	#colors-default p:nth-child(59):after {
		content: "primary-analogous4-300"; }

#colors-default p:nth-child(60) {
	background-color: #5134a7;
	color: #e8e9e8; }
	#colors-default p:nth-child(60):after {
		content: "primary-analogous4-400"; }

#colors-default p:nth-child(61) {
	background-color: #442c8c;
	color: #e8e9e8; }
	#colors-default p:nth-child(61):after {
		content: "primary-analogous4-500"; }

#colors-default p:nth-child(62) {
	background-color: #372372;
	color: #e8e9e8; }
	#colors-default p:nth-child(62):after {
		content: "primary-analogous4-600"; }

#colors-default p:nth-child(63) {
	background-color: #2a1b57;
	color: #e8e9e8; }
	#colors-default p:nth-child(63):after {
		content: "primary-analogous4-700"; }

#colors-default p:nth-child(64) {
	background-color: #db9f8b;
	color: #040404; }
	#colors-default p:nth-child(64):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(64):after {
		text-align: center;
		content: "complement-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(65) {
	background-color: #d08268;
	color: #e8e9e8; }
	#colors-default p:nth-child(65):after {
		content: "complement-200"; }

#colors-default p:nth-child(66) {
	background-color: #c56544;
	color: #e8e9e8; }
	#colors-default p:nth-child(66):after {
		content: "complement-300"; }

#colors-default p:nth-child(67) {
	background-color: #a75134;
	color: #e8e9e8; }
	#colors-default p:nth-child(67):after {
		content: "complement-400"; }

#colors-default p:nth-child(68) {
	background-color: #8c442c;
	color: #e8e9e8; }
	#colors-default p:nth-child(68):after {
		content: "complement-500"; }

#colors-default p:nth-child(69) {
	background-color: #723723;
	color: #e8e9e8; }
	#colors-default p:nth-child(69):after {
		content: "complement-600"; }

#colors-default p:nth-child(70) {
	background-color: #572a1b;
	color: #e8e9e8; }
	#colors-default p:nth-child(70):after {
		content: "complement-700"; }

#colors-adaptive p:nth-child(1) {
	background-color: #d1e9f1;
	color: #080908; }
	#colors-adaptive p:nth-child(1):after {
		content: "primary-100"; }

#colors-adaptive p:nth-child(2) {
	background-color: #aed8e6;
	color: #080908; }
	#colors-adaptive p:nth-child(2):after {
		content: "primary-200"; }

#colors-adaptive p:nth-child(3) {
	background-color: #8bc7db;
	color: #080908; }
	#colors-adaptive p:nth-child(3):after {
		content: "primary-300"; }

#colors-adaptive p:nth-child(4) {
	background-color: #68b6d0;
	color: #080908; }
	#colors-adaptive p:nth-child(4):after {
		content: "primary-400"; }

#colors-adaptive p:nth-child(5) {
	background-color: #44a4c5;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(5):after {
		content: "primary-500"; }

#colors-adaptive p:nth-child(6) {
	background-color: #348aa7;
	color: #f9faf9;
	border: 2px solid #f9faf9; }
	#colors-adaptive p:nth-child(6):after {
		content: "primary-600"; }

#colors-adaptive p:nth-child(7) {
	background-color: #2c748c;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(7):after {
		content: "primary-700"; }

#colors-adaptive p:nth-child(8) {
	background-color: #dcf2bf;
	color: #080908; }
	#colors-adaptive p:nth-child(8):after {
		content: "secondary-100"; }

#colors-adaptive p:nth-child(9) {
	background-color: #d1efab;
	color: #080908; }
	#colors-adaptive p:nth-child(9):after {
		content: "secondary-200"; }

#colors-adaptive p:nth-child(10) {
	background-color: #c7eb98;
	color: #080908; }
	#colors-adaptive p:nth-child(10):after {
		content: "secondary-300"; }

#colors-adaptive p:nth-child(11) {
	background-color: #bce784;
	color: #080908;
	border: 2px solid #080908; }
	#colors-adaptive p:nth-child(11):after {
		content: "secondary-400"; }

#colors-adaptive p:nth-child(12) {
	background-color: #a2de54;
	color: #080908; }
	#colors-adaptive p:nth-child(12):after {
		content: "secondary-500"; }

#colors-adaptive p:nth-child(13) {
	background-color: #87cf28;
	color: #080908; }
	#colors-adaptive p:nth-child(13):after {
		content: "secondary-600"; }

#colors-adaptive p:nth-child(14) {
	background-color: #679f1f;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(14):after {
		content: "secondary-700"; }

#colors-adaptive p:nth-child(15) {
	background-color: #fdeed0;
	color: #080908; }
	#colors-adaptive p:nth-child(15):after {
		content: "tertiary-100"; }

#colors-adaptive p:nth-child(16) {
	background-color: #fde9c2;
	color: #080908; }
	#colors-adaptive p:nth-child(16):after {
		content: "tertiary-200"; }

#colors-adaptive p:nth-child(17) {
	background-color: #fce4b4;
	color: #080908; }
	#colors-adaptive p:nth-child(17):after {
		content: "tertiary-300"; }

#colors-adaptive p:nth-child(18) {
	background-color: #fcdfa6;
	color: #080908;
	border: 2px solid #080908; }
	#colors-adaptive p:nth-child(18):after {
		content: "tertiary-400"; }

#colors-adaptive p:nth-child(19) {
	background-color: #fac866;
	color: #080908; }
	#colors-adaptive p:nth-child(19):after {
		content: "tertiary-500"; }

#colors-adaptive p:nth-child(20) {
	background-color: #f8b125;
	color: #080908; }
	#colors-adaptive p:nth-child(20):after {
		content: "tertiary-600"; }

#colors-adaptive p:nth-child(21) {
	background-color: #d48f07;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(21):after {
		content: "tertiary-700"; }

#colors-adaptive p:nth-child(22) {
	background-color: #f6dfd6;
	color: #080908; }
	#colors-adaptive p:nth-child(22):after {
		content: "accent-100"; }

#colors-adaptive p:nth-child(23) {
	background-color: #efc5b5;
	color: #080908; }
	#colors-adaptive p:nth-child(23):after {
		content: "accent-200"; }

#colors-adaptive p:nth-child(24) {
	background-color: #e8ac95;
	color: #080908; }
	#colors-adaptive p:nth-child(24):after {
		content: "accent-300"; }

#colors-adaptive p:nth-child(25) {
	background-color: #e19375;
	color: #080908; }
	#colors-adaptive p:nth-child(25):after {
		content: "accent-400"; }

#colors-adaptive p:nth-child(26) {
	background-color: #da7a55;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(26):after {
		content: "accent-500"; }

#colors-adaptive p:nth-child(27) {
	background-color: #d36135;
	color: #f9faf9;
	border: 2px solid #f9faf9; }
	#colors-adaptive p:nth-child(27):after {
		content: "accent-600"; }

#colors-adaptive p:nth-child(28) {
	background-color: #b64f28;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(28):after {
		content: "accent-700"; }

#colors-adaptive p:nth-child(29) {
	background-color: #e2e4e2;
	color: #080908; }
	#colors-adaptive p:nth-child(29):after {
		content: "neutral-100"; }

#colors-adaptive p:nth-child(30) {
	background-color: #d2d5d2;
	color: #080908; }
	#colors-adaptive p:nth-child(30):after {
		content: "neutral-200"; }

#colors-adaptive p:nth-child(31) {
	background-color: #aeb4ae;
	color: #080908; }
	#colors-adaptive p:nth-child(31):after {
		content: "neutral-300"; }

#colors-adaptive p:nth-child(32) {
	background-color: #8b938b;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(32):after {
		content: "neutral-400"; }

#colors-adaptive p:nth-child(33) {
	background-color: #697169;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(33):after {
		content: "neutral-500"; }

#colors-adaptive p:nth-child(34) {
	background-color: #494e49;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(34):after {
		content: "neutral-600"; }

#colors-adaptive p:nth-child(35) {
	background-color: #282b28;
	color: #f9faf9;
	border: 2px solid #f9faf9; }
	#colors-adaptive p:nth-child(35):after {
		content: "neutral-700"; }

#colors-adaptive p:nth-child(36) {
	background-color: #d1f1d9;
	color: #080908; }
	#colors-adaptive p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(36):after {
		text-align: center;
		content: "primary-analogous1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(37) {
	background-color: #aee6bc;
	color: #080908; }
	#colors-adaptive p:nth-child(37):after {
		content: "primary-analogous1-200"; }

#colors-adaptive p:nth-child(38) {
	background-color: #8bdb9f;
	color: #080908; }
	#colors-adaptive p:nth-child(38):after {
		content: "primary-analogous1-300"; }

#colors-adaptive p:nth-child(39) {
	background-color: #68d082;
	color: #080908; }
	#colors-adaptive p:nth-child(39):after {
		content: "primary-analogous1-400"; }

#colors-adaptive p:nth-child(40) {
	background-color: #44c565;
	color: #080908; }
	#colors-adaptive p:nth-child(40):after {
		content: "primary-analogous1-500"; }

#colors-adaptive p:nth-child(41) {
	background-color: #34a751;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(41):after {
		content: "primary-analogous1-600"; }

#colors-adaptive p:nth-child(42) {
	background-color: #2c8c44;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(42):after {
		content: "primary-analogous1-700"; }

#colors-adaptive p:nth-child(43) {
	background-color: #d1f1e9;
	color: #080908; }
	#colors-adaptive p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(43):after {
		text-align: center;
		content: "primary-analogous2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(44) {
	background-color: #aee6d8;
	color: #080908; }
	#colors-adaptive p:nth-child(44):after {
		content: "primary-analogous2-200"; }

#colors-adaptive p:nth-child(45) {
	background-color: #8bdbc7;
	color: #080908; }
	#colors-adaptive p:nth-child(45):after {
		content: "primary-analogous2-300"; }

#colors-adaptive p:nth-child(46) {
	background-color: #68d0b6;
	color: #080908; }
	#colors-adaptive p:nth-child(46):after {
		content: "primary-analogous2-400"; }

#colors-adaptive p:nth-child(47) {
	background-color: #44c5a5;
	color: #080908; }
	#colors-adaptive p:nth-child(47):after {
		content: "primary-analogous2-500"; }

#colors-adaptive p:nth-child(48) {
	background-color: #34a78b;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(48):after {
		content: "primary-analogous2-600"; }

#colors-adaptive p:nth-child(49) {
	background-color: #2c8c74;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(49):after {
		content: "primary-analogous2-700"; }

#colors-adaptive p:nth-child(50) {
	background-color: #e2e7f6;
	color: #080908; }
	#colors-adaptive p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(50):after {
		text-align: center;
		content: "primary-analogous3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(51) {
	background-color: #d1d9f1;
	color: #080908; }
	#colors-adaptive p:nth-child(51):after {
		content: "primary-analogous3-200"; }

#colors-adaptive p:nth-child(52) {
	background-color: #aebce6;
	color: #080908; }
	#colors-adaptive p:nth-child(52):after {
		content: "primary-analogous3-300"; }

#colors-adaptive p:nth-child(53) {
	background-color: #8b9fdb;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(53):after {
		content: "primary-analogous3-400"; }

#colors-adaptive p:nth-child(54) {
	background-color: #6881d0;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(54):after {
		content: "primary-analogous3-500"; }

#colors-adaptive p:nth-child(55) {
	background-color: #4464c5;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(55):after {
		content: "primary-analogous3-600"; }

#colors-adaptive p:nth-child(56) {
	background-color: #3451a7;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(56):after {
		content: "primary-analogous3-700"; }

#colors-adaptive p:nth-child(57) {
	background-color: #e7e2f6;
	color: #080908; }
	#colors-adaptive p:nth-child(57):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(57):after {
		text-align: center;
		content: "primary-analogous4-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(58) {
	background-color: #d9d1f1;
	color: #080908; }
	#colors-adaptive p:nth-child(58):after {
		content: "primary-analogous4-200"; }

#colors-adaptive p:nth-child(59) {
	background-color: #bcaee6;
	color: #080908; }
	#colors-adaptive p:nth-child(59):after {
		content: "primary-analogous4-300"; }

#colors-adaptive p:nth-child(60) {
	background-color: #9f8bdb;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(60):after {
		content: "primary-analogous4-400"; }

#colors-adaptive p:nth-child(61) {
	background-color: #8268d0;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(61):after {
		content: "primary-analogous4-500"; }

#colors-adaptive p:nth-child(62) {
	background-color: #6544c5;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(62):after {
		content: "primary-analogous4-600"; }

#colors-adaptive p:nth-child(63) {
	background-color: #5134a7;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(63):after {
		content: "primary-analogous4-700"; }

#colors-adaptive p:nth-child(64) {
	background-color: #f6e7e2;
	color: #080908; }
	#colors-adaptive p:nth-child(64):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(64):after {
		text-align: center;
		content: "complement-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(65) {
	background-color: #f1d9d1;
	color: #080908; }
	#colors-adaptive p:nth-child(65):after {
		content: "complement-200"; }

#colors-adaptive p:nth-child(66) {
	background-color: #e6bcae;
	color: #080908; }
	#colors-adaptive p:nth-child(66):after {
		content: "complement-300"; }

#colors-adaptive p:nth-child(67) {
	background-color: #db9f8b;
	color: #080908; }
	#colors-adaptive p:nth-child(67):after {
		content: "complement-400"; }

#colors-adaptive p:nth-child(68) {
	background-color: #d08268;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(68):after {
		content: "complement-500"; }

#colors-adaptive p:nth-child(69) {
	background-color: #c56544;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(69):after {
		content: "complement-600"; }

#colors-adaptive p:nth-child(70) {
	background-color: #a75134;
	color: #f9faf9; }
	#colors-adaptive p:nth-child(70):after {
		content: "complement-700"; }

#colors-static p:nth-child(1) {
	background-color: #dceef4;
	color: #0a0b0a; }
	#colors-static p:nth-child(1):after {
		content: "primary-50"; }

#colors-static p:nth-child(2) {
	background-color: #cce6ef;
	color: #0a0b0a; }
	#colors-static p:nth-child(2):after {
		content: "primary-100"; }

#colors-static p:nth-child(3) {
	background-color: #b5dbe8;
	color: #0a0b0a; }
	#colors-static p:nth-child(3):after {
		content: "primary-200"; }

#colors-static p:nth-child(4) {
	background-color: #86c5d9;
	color: #0a0b0a; }
	#colors-static p:nth-child(4):after {
		content: "primary-300"; }

#colors-static p:nth-child(5) {
	background-color: #58aecb;
	color: #f8f9f8; }
	#colors-static p:nth-child(5):after {
		content: "primary-400"; }

#colors-static p:nth-child(6) {
	background-color: #3691af;
	color: #f8f9f8; }
	#colors-static p:nth-child(6):after {
		content: "primary-500"; }

#colors-static p:nth-child(7) {
	background-color: #266479;
	color: #f8f9f8; }
	#colors-static p:nth-child(7):after {
		content: "primary-600"; }

#colors-static p:nth-child(8) {
	background-color: #194352;
	color: #f8f9f8; }
	#colors-static p:nth-child(8):after {
		content: "primary-700"; }

#colors-static p:nth-child(9) {
	background-color: #0d232b;
	color: #f8f9f8; }
	#colors-static p:nth-child(9):after {
		content: "primary-800"; }

#colors-static p:nth-child(10) {
	background-color: #061013;
	color: #f8f9f8; }
	#colors-static p:nth-child(10):after {
		content: "primary-900"; }

#colors-static p:nth-child(11) {
	background-color: #eaf8d9;
	color: #0a0b0a; }
	#colors-static p:nth-child(11):after {
		content: "secondary-50"; }

#colors-static p:nth-child(12) {
	background-color: #e1f4c8;
	color: #0a0b0a; }
	#colors-static p:nth-child(12):after {
		content: "secondary-100"; }

#colors-static p:nth-child(13) {
	background-color: #d3efae;
	color: #0a0b0a; }
	#colors-static p:nth-child(13):after {
		content: "secondary-200"; }

#colors-static p:nth-child(14) {
	background-color: #b7e57b;
	color: #0a0b0a; }
	#colors-static p:nth-child(14):after {
		content: "secondary-300"; }

#colors-static p:nth-child(15) {
	background-color: #9bdb48;
	color: #0a0b0a; }
	#colors-static p:nth-child(15):after {
		content: "secondary-400"; }

#colors-static p:nth-child(16) {
	background-color: #7dc025;
	color: #0a0b0a; }
	#colors-static p:nth-child(16):after {
		content: "secondary-500"; }

#colors-static p:nth-child(17) {
	background-color: #56841a;
	color: #f8f9f8; }
	#colors-static p:nth-child(17):after {
		content: "secondary-600"; }

#colors-static p:nth-child(18) {
	background-color: #3a5a11;
	color: #f8f9f8; }
	#colors-static p:nth-child(18):after {
		content: "secondary-700"; }

#colors-static p:nth-child(19) {
	background-color: #1f2f09;
	color: #f8f9f8; }
	#colors-static p:nth-child(19):after {
		content: "secondary-800"; }

#colors-static p:nth-child(20) {
	background-color: #0e1504;
	color: #f8f9f8; }
	#colors-static p:nth-child(20):after {
		content: "secondary-900"; }

#colors-static p:nth-child(21) {
	background-color: #feefd3;
	color: #0a0b0a; }
	#colors-static p:nth-child(21):after {
		content: "tertiary-50"; }

#colors-static p:nth-child(22) {
	background-color: #fde8bf;
	color: #0a0b0a; }
	#colors-static p:nth-child(22):after {
		content: "tertiary-100"; }

#colors-static p:nth-child(23) {
	background-color: #fcdda1;
	color: #0a0b0a; }
	#colors-static p:nth-child(23):after {
		content: "tertiary-200"; }

#colors-static p:nth-child(24) {
	background-color: #fac866;
	color: #0a0b0a; }
	#colors-static p:nth-child(24):after {
		content: "tertiary-300"; }

#colors-static p:nth-child(25) {
	background-color: #f8b32b;
	color: #0a0b0a; }
	#colors-static p:nth-child(25):after {
		content: "tertiary-400"; }

#colors-static p:nth-child(26) {
	background-color: #de9607;
	color: #0a0b0a; }
	#colors-static p:nth-child(26):after {
		content: "tertiary-500"; }

#colors-static p:nth-child(27) {
	background-color: #996705;
	color: #f8f9f8; }
	#colors-static p:nth-child(27):after {
		content: "tertiary-600"; }

#colors-static p:nth-child(28) {
	background-color: #684603;
	color: #f8f9f8; }
	#colors-static p:nth-child(28):after {
		content: "tertiary-700"; }

#colors-static p:nth-child(29) {
	background-color: #362502;
	color: #f8f9f8; }
	#colors-static p:nth-child(29):after {
		content: "tertiary-800"; }

#colors-static p:nth-child(30) {
	background-color: #191101;
	color: #f8f9f8; }
	#colors-static p:nth-child(30):after {
		content: "tertiary-900"; }

#colors-static p:nth-child(31) {
	background-color: #f7e2d9;
	color: #0a0b0a; }
	#colors-static p:nth-child(31):after {
		content: "accent-50"; }

#colors-static p:nth-child(32) {
	background-color: #f3d4c9;
	color: #0a0b0a; }
	#colors-static p:nth-child(32):after {
		content: "accent-100"; }

#colors-static p:nth-child(33) {
	background-color: #eec1af;
	color: #0a0b0a; }
	#colors-static p:nth-child(33):after {
		content: "accent-200"; }

#colors-static p:nth-child(34) {
	background-color: #e3997d;
	color: #0a0b0a; }
	#colors-static p:nth-child(34):after {
		content: "accent-300"; }

#colors-static p:nth-child(35) {
	background-color: #d8724b;
	color: #f8f9f8; }
	#colors-static p:nth-child(35):after {
		content: "accent-400"; }

#colors-static p:nth-child(36) {
	background-color: #bc5229;
	color: #f8f9f8; }
	#colors-static p:nth-child(36):after {
		content: "accent-500"; }

#colors-static p:nth-child(37) {
	background-color: #82391c;
	color: #f8f9f8; }
	#colors-static p:nth-child(37):after {
		content: "accent-600"; }

#colors-static p:nth-child(38) {
	background-color: #582613;
	color: #f8f9f8; }
	#colors-static p:nth-child(38):after {
		content: "accent-700"; }

#colors-static p:nth-child(39) {
	background-color: #2e140a;
	color: #f8f9f8; }
	#colors-static p:nth-child(39):after {
		content: "accent-800"; }

#colors-static p:nth-child(40) {
	background-color: #150905;
	color: #f8f9f8; }
	#colors-static p:nth-child(40):after {
		content: "accent-900"; }

#colors-static p:nth-child(41) {
	background-color: #e7e9e7;
	color: #0a0b0a; }
	#colors-static p:nth-child(41):after {
		content: "neutral-50"; }

#colors-static p:nth-child(42) {
	background-color: #dddfdd;
	color: #0a0b0a; }
	#colors-static p:nth-child(42):after {
		content: "neutral-100"; }

#colors-static p:nth-child(43) {
	background-color: #cdd0cd;
	color: #0a0b0a; }
	#colors-static p:nth-child(43):after {
		content: "neutral-200"; }

#colors-static p:nth-child(44) {
	background-color: #adb3ad;
	color: #0a0b0a; }
	#colors-static p:nth-child(44):after {
		content: "neutral-300"; }

#colors-static p:nth-child(45) {
	background-color: #8d958d;
	color: #f8f9f8; }
	#colors-static p:nth-child(45):after {
		content: "neutral-400"; }

#colors-static p:nth-child(46) {
	background-color: #6f776f;
	color: #f8f9f8; }
	#colors-static p:nth-child(46):after {
		content: "neutral-500"; }

#colors-static p:nth-child(47) {
	background-color: #4c524c;
	color: #f8f9f8; }
	#colors-static p:nth-child(47):after {
		content: "neutral-600"; }

#colors-static p:nth-child(48) {
	background-color: #343734;
	color: #f8f9f8; }
	#colors-static p:nth-child(48):after {
		content: "neutral-700"; }

#colors-static p:nth-child(49) {
	background-color: #1b1d1b;
	color: #f8f9f8; }
	#colors-static p:nth-child(49):after {
		content: "neutral-800"; }

#colors-static p:nth-child(50) {
	background-color: #0c0d0c;
	color: #f8f9f8; }
	#colors-static p:nth-child(50):after {
		content: "neutral-900"; }

#colors-static p:nth-child(51) {
	background-color: #dcf4e2;
	color: #0a0b0a; }
	#colors-static p:nth-child(51):after {
		content: "primary-analogous1-50"; }

#colors-static p:nth-child(52) {
	background-color: #ccefd5;
	color: #0a0b0a; }
	#colors-static p:nth-child(52):after {
		content: "primary-analogous1-100"; }

#colors-static p:nth-child(53) {
	background-color: #b5e8c2;
	color: #0a0b0a; }
	#colors-static p:nth-child(53):after {
		content: "primary-analogous1-200"; }

#colors-static p:nth-child(54) {
	background-color: #86d99b;
	color: #0a0b0a; }
	#colors-static p:nth-child(54):after {
		content: "primary-analogous1-300"; }

#colors-static p:nth-child(55) {
	background-color: #58cb75;
	color: #0a0b0a; }
	#colors-static p:nth-child(55):after {
		content: "primary-analogous1-400"; }

#colors-static p:nth-child(56) {
	background-color: #36af55;
	color: #f8f9f8; }
	#colors-static p:nth-child(56):after {
		content: "primary-analogous1-500"; }

#colors-static p:nth-child(57) {
	background-color: #26793a;
	color: #f8f9f8; }
	#colors-static p:nth-child(57):after {
		content: "primary-analogous1-600"; }

#colors-static p:nth-child(58) {
	background-color: #195228;
	color: #f8f9f8; }
	#colors-static p:nth-child(58):after {
		content: "primary-analogous1-700"; }

#colors-static p:nth-child(59) {
	background-color: #0d2b15;
	color: #f8f9f8; }
	#colors-static p:nth-child(59):after {
		content: "primary-analogous1-800"; }

#colors-static p:nth-child(60) {
	background-color: #061309;
	color: #f8f9f8; }
	#colors-static p:nth-child(60):after {
		content: "primary-analogous1-900"; }

#colors-static p:nth-child(61) {
	background-color: #dcf4ee;
	color: #0a0b0a; }
	#colors-static p:nth-child(61):after {
		content: "primary-analogous2-50"; }

#colors-static p:nth-child(62) {
	background-color: #ccefe7;
	color: #0a0b0a; }
	#colors-static p:nth-child(62):after {
		content: "primary-analogous2-100"; }

#colors-static p:nth-child(63) {
	background-color: #b5e8db;
	color: #0a0b0a; }
	#colors-static p:nth-child(63):after {
		content: "primary-analogous2-200"; }

#colors-static p:nth-child(64) {
	background-color: #86d9c5;
	color: #0a0b0a; }
	#colors-static p:nth-child(64):after {
		content: "primary-analogous2-300"; }

#colors-static p:nth-child(65) {
	background-color: #58cbae;
	color: #0a0b0a; }
	#colors-static p:nth-child(65):after {
		content: "primary-analogous2-400"; }

#colors-static p:nth-child(66) {
	background-color: #36af91;
	color: #f8f9f8; }
	#colors-static p:nth-child(66):after {
		content: "primary-analogous2-500"; }

#colors-static p:nth-child(67) {
	background-color: #267964;
	color: #f8f9f8; }
	#colors-static p:nth-child(67):after {
		content: "primary-analogous2-600"; }

#colors-static p:nth-child(68) {
	background-color: #195244;
	color: #f8f9f8; }
	#colors-static p:nth-child(68):after {
		content: "primary-analogous2-700"; }

#colors-static p:nth-child(69) {
	background-color: #0d2b23;
	color: #f8f9f8; }
	#colors-static p:nth-child(69):after {
		content: "primary-analogous2-800"; }

#colors-static p:nth-child(70) {
	background-color: #061310;
	color: #f8f9f8; }
	#colors-static p:nth-child(70):after {
		content: "primary-analogous2-900"; }

#colors-static p:nth-child(71) {
	background-color: #dce2f4;
	color: #0a0b0a; }
	#colors-static p:nth-child(71):after {
		content: "primary-analogous3-50"; }

#colors-static p:nth-child(72) {
	background-color: #ccd5ef;
	color: #0a0b0a; }
	#colors-static p:nth-child(72):after {
		content: "primary-analogous3-100"; }

#colors-static p:nth-child(73) {
	background-color: #b5c2e8;
	color: #0a0b0a; }
	#colors-static p:nth-child(73):after {
		content: "primary-analogous3-200"; }

#colors-static p:nth-child(74) {
	background-color: #869bd9;
	color: #f8f9f8; }
	#colors-static p:nth-child(74):after {
		content: "primary-analogous3-300"; }

#colors-static p:nth-child(75) {
	background-color: #5874cb;
	color: #f8f9f8; }
	#colors-static p:nth-child(75):after {
		content: "primary-analogous3-400"; }

#colors-static p:nth-child(76) {
	background-color: #3654af;
	color: #f8f9f8; }
	#colors-static p:nth-child(76):after {
		content: "primary-analogous3-500"; }

#colors-static p:nth-child(77) {
	background-color: #263a79;
	color: #f8f9f8; }
	#colors-static p:nth-child(77):after {
		content: "primary-analogous3-600"; }

#colors-static p:nth-child(78) {
	background-color: #192752;
	color: #f8f9f8; }
	#colors-static p:nth-child(78):after {
		content: "primary-analogous3-700"; }

#colors-static p:nth-child(79) {
	background-color: #0d152b;
	color: #f8f9f8; }
	#colors-static p:nth-child(79):after {
		content: "primary-analogous3-800"; }

#colors-static p:nth-child(80) {
	background-color: #060913;
	color: #f8f9f8; }
	#colors-static p:nth-child(80):after {
		content: "primary-analogous3-900"; }

#colors-static p:nth-child(81) {
	background-color: #e2dcf4;
	color: #0a0b0a; }
	#colors-static p:nth-child(81):after {
		content: "primary-analogous4-50"; }

#colors-static p:nth-child(82) {
	background-color: #d5ccef;
	color: #0a0b0a; }
	#colors-static p:nth-child(82):after {
		content: "primary-analogous4-100"; }

#colors-static p:nth-child(83) {
	background-color: #c2b5e8;
	color: #0a0b0a; }
	#colors-static p:nth-child(83):after {
		content: "primary-analogous4-200"; }

#colors-static p:nth-child(84) {
	background-color: #9b86d9;
	color: #f8f9f8; }
	#colors-static p:nth-child(84):after {
		content: "primary-analogous4-300"; }

#colors-static p:nth-child(85) {
	background-color: #7558cb;
	color: #f8f9f8; }
	#colors-static p:nth-child(85):after {
		content: "primary-analogous4-400"; }

#colors-static p:nth-child(86) {
	background-color: #5536af;
	color: #f8f9f8; }
	#colors-static p:nth-child(86):after {
		content: "primary-analogous4-500"; }

#colors-static p:nth-child(87) {
	background-color: #3a2679;
	color: #f8f9f8; }
	#colors-static p:nth-child(87):after {
		content: "primary-analogous4-600"; }

#colors-static p:nth-child(88) {
	background-color: #281952;
	color: #f8f9f8; }
	#colors-static p:nth-child(88):after {
		content: "primary-analogous4-700"; }

#colors-static p:nth-child(89) {
	background-color: #150d2b;
	color: #f8f9f8; }
	#colors-static p:nth-child(89):after {
		content: "primary-analogous4-800"; }

#colors-static p:nth-child(90) {
	background-color: #090613;
	color: #f8f9f8; }
	#colors-static p:nth-child(90):after {
		content: "primary-analogous4-900"; }

#colors-static p:nth-child(91) {
	background-color: #f4e2dc;
	color: #0a0b0a; }
	#colors-static p:nth-child(91):after {
		content: "complement-50"; }

#colors-static p:nth-child(92) {
	background-color: #efd5cc;
	color: #0a0b0a; }
	#colors-static p:nth-child(92):after {
		content: "complement-100"; }

#colors-static p:nth-child(93) {
	background-color: #e8c2b5;
	color: #0a0b0a; }
	#colors-static p:nth-child(93):after {
		content: "complement-200"; }

#colors-static p:nth-child(94) {
	background-color: #d99b86;
	color: #0a0b0a; }
	#colors-static p:nth-child(94):after {
		content: "complement-300"; }

#colors-static p:nth-child(95) {
	background-color: #cb7558;
	color: #f8f9f8; }
	#colors-static p:nth-child(95):after {
		content: "complement-400"; }

#colors-static p:nth-child(96) {
	background-color: #af5536;
	color: #f8f9f8; }
	#colors-static p:nth-child(96):after {
		content: "complement-500"; }

#colors-static p:nth-child(97) {
	background-color: #793a26;
	color: #f8f9f8; }
	#colors-static p:nth-child(97):after {
		content: "complement-600"; }

#colors-static p:nth-child(98) {
	background-color: #522819;
	color: #f8f9f8; }
	#colors-static p:nth-child(98):after {
		content: "complement-700"; }

#colors-static p:nth-child(99) {
	background-color: #2b150d;
	color: #f8f9f8; }
	#colors-static p:nth-child(99):after {
		content: "complement-800"; }

#colors-static p:nth-child(100) {
	background-color: #130906;
	color: #f8f9f8; }
	#colors-static p:nth-child(100):after {
		content: "complement-900"; }

#analogous-400 p, #compound-400 p, #tetrad-400 p, #quadratic-400 p, #triad-400 p, #split-400 p {
	padding: 0;
	margin: 0;
	min-height: 3rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }
	#analogous-400 p:after, #compound-400 p:after, #tetrad-400 p:after, #quadratic-400 p:after, #triad-400 p:after, #split-400 p:after {
		line-height: 1rem;
		font-size: 1rem; }

#analogous-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#analogous-400 p:nth-child(1):after {
	content: "primary-400"; }

#analogous-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#analogous-400 p:nth-child(2):after {
	content: "secondary-400"; }

#analogous-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#analogous-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#analogous-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#analogous-400 p:nth-child(4):after {
	content: "accent-400"; }

#analogous-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#analogous-400 p:nth-child(5):after {
	content: "neutral-400"; }

#analogous-400 p:nth-child(6) {
	background-color: #63ce7e;
	color: #080908; }

#analogous-400 p:nth-child(6):after {
	content: "primary-analogous1-400"; }

#analogous-400 p:nth-child(7) {
	background-color: #63ceb4;
	color: #080908; }

#analogous-400 p:nth-child(7):after {
	content: "primary-analogous2-400"; }

#analogous-400 p:nth-child(8) {
	background-color: #8499d9;
	color: #f9faf9; }

#analogous-400 p:nth-child(8):after {
	content: "primary-analogous3-400"; }

#analogous-400 p:nth-child(9) {
	background-color: #9984d9;
	color: #f9faf9; }

#analogous-400 p:nth-child(9):after {
	content: "primary-analogous4-400"; }

#analogous-400 p:nth-child(10) {
	background-color: #d99984;
	color: #080908; }

#analogous-400 p:nth-child(10):after {
	content: "complement-400"; }

#compound-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#compound-400 p:nth-child(1):after {
	content: "primary-400"; }

#compound-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#compound-400 p:nth-child(2):after {
	content: "secondary-400"; }

#compound-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#compound-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#compound-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#compound-400 p:nth-child(4):after {
	content: "accent-400"; }

#compound-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#compound-400 p:nth-child(5):after {
	content: "neutral-400"; }

#compound-400 p:nth-child(6) {
	background-color: #adb9de;
	color: #080908; }

#compound-400 p:nth-child(6):after {
	content: "primary-compound1-400"; }

#compound-400 p:nth-child(7) {
	background-color: #9c9c9c;
	color: #f9faf9; }

#compound-400 p:nth-child(7):after {
	content: "primary-compound2-400"; }

#compound-400 p:nth-child(8) {
	background-color: #d0c4a2;
	color: #080908; }

#compound-400 p:nth-child(8):after {
	content: "primary-compound3-400"; }

#compound-400 p:nth-child(9) {
	background-color: #b7a672;
	color: #080908; }

#compound-400 p:nth-child(9):after {
	content: "primary-compound4-400"; }

#compound-400 p:nth-child(10) {
	background-color: #d99984;
	color: #080908; }

#compound-400 p:nth-child(10):after {
	content: "complement-400"; }

#tetrad-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#tetrad-400 p:nth-child(1):after {
	content: "primary-400"; }

#tetrad-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#tetrad-400 p:nth-child(2):after {
	content: "secondary-400"; }

#tetrad-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#tetrad-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#tetrad-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#tetrad-400 p:nth-child(4):after {
	content: "accent-400"; }

#tetrad-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#tetrad-400 p:nth-child(5):after {
	content: "neutral-400"; }

#tetrad-400 p:nth-child(6) {
	background-color: #9984d9;
	color: #f9faf9; }

#tetrad-400 p:nth-child(6):after {
	content: "primary-tetrad1-400"; }

#tetrad-400 p:nth-child(7) {
	background-color: #d99984;
	color: #080908; }

#tetrad-400 p:nth-child(7):after {
	content: "primary-tetrad2-400"; }

#tetrad-400 p:nth-child(8) {
	background-color: #b3ce63;
	color: #080908; }

#tetrad-400 p:nth-child(8):after {
	content: "primary-tetrad3-400"; }

#quadratic-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#quadratic-400 p:nth-child(1):after {
	content: "primary-400"; }

#quadratic-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#quadratic-400 p:nth-child(2):after {
	content: "secondary-400"; }

#quadratic-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#quadratic-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#quadratic-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#quadratic-400 p:nth-child(4):after {
	content: "accent-400"; }

#quadratic-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#quadratic-400 p:nth-child(5):after {
	content: "neutral-400"; }

#quadratic-400 p:nth-child(6) {
	background-color: #c384d9;
	color: #f9faf9; }

#quadratic-400 p:nth-child(6):after {
	content: "primary-tetrad1-400"; }

#quadratic-400 p:nth-child(7) {
	background-color: #d99984;
	color: #080908; }

#quadratic-400 p:nth-child(7):after {
	content: "primary-tetrad2-400"; }

#quadratic-400 p:nth-child(8) {
	background-color: #7dce63;
	color: #080908; }

#quadratic-400 p:nth-child(8):after {
	content: "primary-tetrad3-400"; }

#triad-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#triad-400 p:nth-child(1):after {
	content: "primary-400"; }

#triad-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#triad-400 p:nth-child(2):after {
	content: "secondary-400"; }

#triad-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#triad-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#triad-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#triad-400 p:nth-child(4):after {
	content: "accent-400"; }

#triad-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#triad-400 p:nth-child(5):after {
	content: "neutral-400"; }

#triad-400 p:nth-child(6) {
	background-color: #d984c3;
	color: #f9faf9; }

#triad-400 p:nth-child(6):after {
	content: "primary-triad1-400"; }

#triad-400 p:nth-child(7) {
	background-color: #b3ce63;
	color: #080908; }

#triad-400 p:nth-child(7):after {
	content: "primary-triad2-400"; }

#triad-400 p:nth-child(8) {
	background-color: #d99984;
	color: #080908; }

#triad-400 p:nth-child(8):after {
	content: "complement-400"; }

#split-400 p:nth-child(1) {
	background-color: #63b3ce;
	color: #080908; }

#split-400 p:nth-child(1):after {
	content: "primary-400"; }

#split-400 p:nth-child(2) {
	background-color: #a4de57;
	color: #080908; }

#split-400 p:nth-child(2):after {
	content: "secondary-400"; }

#split-400 p:nth-child(3) {
	background-color: #fac96a;
	color: #080908; }

#split-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#split-400 p:nth-child(4) {
	background-color: #e09071;
	color: #080908; }

#split-400 p:nth-child(4):after {
	content: "accent-400"; }

#split-400 p:nth-child(5) {
	background-color: #848d84;
	color: #f9faf9; }

#split-400 p:nth-child(5):after {
	content: "neutral-400"; }

#split-400 p:nth-child(6) {
	background-color: #d98499;
	color: #f9faf9; }

#split-400 p:nth-child(6):after {
	content: "primary-split1-400"; }

#split-400 p:nth-child(7) {
	background-color: #ceb463;
	color: #080908; }

#split-400 p:nth-child(7):after {
	content: "primary-split2-400"; }

#split-400 p:nth-child(8) {
	background-color: #d99984;
	color: #080908; }

#split-400 p:nth-child(8):after {
	content: "complement-400"; }
