/* NAV, GENERAL */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
	margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
	display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
	font-size: 2em;
	margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
	display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
	margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
	display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
	outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
	/* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
	font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
	font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
	font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
	background-color: #ff0;
	color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
	font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sub {
	bottom: -0.25em; }

sup {
	top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
	display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
	display: none;
	height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
	border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
	overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
	overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
	/* 1 */
	text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	/**
       * Remove the inner border and padding in Firefox.
       */
	/**
       * Restore the focus styles unset by the previous rule.
       */ }
	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
		border-style: none;
		padding: 0; }
	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
		outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
	overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	/**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
	[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
		-webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* 1 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	color: inherit;
	/* 2 */
	white-space: normal;
	/* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
	overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
	display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
	display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
	display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
	display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
	display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
	display: none; }

/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
html, body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	html *, html *:before, html *:after, body *, body *:before, body *:after {
		-webkit-box-sizing: inherit;
		        box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%; }

#colors-default p, #colors-adaptive p {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 14.28571%;
	        flex: 1 0 14.28571%;
	padding: 0;
	margin: 0;
	line-height: 1rem;
	font-size: 1rem;
	min-height: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }

#colors-default p:nth-child(1) {
	background-color: #fffeb9;
	color: #050508; }
	#colors-default p:nth-child(1):after {
		content: "primary-100"; }

#colors-default p:nth-child(2) {
	background-color: #fffea7;
	color: #050508; }
	#colors-default p:nth-child(2):after {
		content: "primary-200"; }

#colors-default p:nth-child(3) {
	background-color: #fffd94;
	color: #050508; }
	#colors-default p:nth-child(3):after {
		content: "primary-300"; }

#colors-default p:nth-child(4) {
	background-color: #FFFD82;
	color: #050508;
	border: 2px solid black; }
	#colors-default p:nth-child(4):after {
		content: "primary-400"; }

#colors-default p:nth-child(5) {
	background-color: #fffc49;
	color: #050508; }
	#colors-default p:nth-child(5):after {
		content: "primary-500"; }

#colors-default p:nth-child(6) {
	background-color: #fffb10;
	color: #050508; }
	#colors-default p:nth-child(6):after {
		content: "primary-600"; }

#colors-default p:nth-child(7) {
	background-color: #d6d300;
	color: #050508; }
	#colors-default p:nth-child(7):after {
		content: "primary-700"; }

#colors-default p:nth-child(8) {
	background-color: #ffc7b0;
	color: #050508; }
	#colors-default p:nth-child(8):after {
		content: "secondary-100"; }

#colors-default p:nth-child(9) {
	background-color: #ffb99b;
	color: #050508; }
	#colors-default p:nth-child(9):after {
		content: "secondary-200"; }

#colors-default p:nth-child(10) {
	background-color: #ffaa86;
	color: #050508; }
	#colors-default p:nth-child(10):after {
		content: "secondary-300"; }

#colors-default p:nth-child(11) {
	background-color: #FF9B71;
	color: #050508;
	border: 2px solid black; }
	#colors-default p:nth-child(11):after {
		content: "secondary-400"; }

#colors-default p:nth-child(12) {
	background-color: #ff753b;
	color: #e4e5ee; }
	#colors-default p:nth-child(12):after {
		content: "secondary-500"; }

#colors-default p:nth-child(13) {
	background-color: #ff4e04;
	color: #e4e5ee; }
	#colors-default p:nth-child(13):after {
		content: "secondary-600"; }

#colors-default p:nth-child(14) {
	background-color: #cd3d00;
	color: #e4e5ee; }
	#colors-default p:nth-child(14):after {
		content: "secondary-700"; }

#colors-default p:nth-child(15) {
	background-color: #f299a0;
	color: #050508; }
	#colors-default p:nth-child(15):after {
		content: "tertiary-100"; }

#colors-default p:nth-child(16) {
	background-color: #ef7e87;
	color: #e4e5ee; }
	#colors-default p:nth-child(16):after {
		content: "tertiary-200"; }

#colors-default p:nth-child(17) {
	background-color: #eb636e;
	color: #e4e5ee; }
	#colors-default p:nth-child(17):after {
		content: "tertiary-300"; }

#colors-default p:nth-child(18) {
	background-color: #E84855;
	color: #e4e5ee;
	border: 2px solid black; }
	#colors-default p:nth-child(18):after {
		content: "tertiary-400"; }

#colors-default p:nth-child(19) {
	background-color: #e32030;
	color: #e4e5ee; }
	#colors-default p:nth-child(19):after {
		content: "tertiary-500"; }

#colors-default p:nth-child(20) {
	background-color: #be1825;
	color: #e4e5ee; }
	#colors-default p:nth-child(20):after {
		content: "tertiary-600"; }

#colors-default p:nth-child(21) {
	background-color: #96131e;
	color: #e4e5ee; }
	#colors-default p:nth-child(21):after {
		content: "tertiary-700"; }

#colors-default p:nth-child(22) {
	background-color: #47dbfb;
	color: #050508; }
	#colors-default p:nth-child(22):after {
		content: "accent-100"; }

#colors-default p:nth-child(23) {
	background-color: #17d1f9;
	color: #050508; }
	#colors-default p:nth-child(23):after {
		content: "accent-200"; }

#colors-default p:nth-child(24) {
	background-color: #05b3d9;
	color: #050508; }
	#colors-default p:nth-child(24):after {
		content: "accent-300"; }

#colors-default p:nth-child(25) {
	background-color: #048BA8;
	color: #e4e5ee;
	border: 2px solid black; }
	#colors-default p:nth-child(25):after {
		content: "accent-400"; }

#colors-default p:nth-child(26) {
	background-color: #03768f;
	color: #e4e5ee; }
	#colors-default p:nth-child(26):after {
		content: "accent-500"; }

#colors-default p:nth-child(27) {
	background-color: #036276;
	color: #e4e5ee; }
	#colors-default p:nth-child(27):after {
		content: "accent-600"; }

#colors-default p:nth-child(28) {
	background-color: #024d5d;
	color: #e4e5ee; }
	#colors-default p:nth-child(28):after {
		content: "accent-700"; }

#colors-default p:nth-child(29) {
	background-color: #797faa;
	color: #e4e5ee; }
	#colors-default p:nth-child(29):after {
		content: "neutral-100"; }

#colors-default p:nth-child(30) {
	background-color: #5a608e;
	color: #e4e5ee; }
	#colors-default p:nth-child(30):after {
		content: "neutral-200"; }

#colors-default p:nth-child(31) {
	background-color: #44486b;
	color: #e4e5ee; }
	#colors-default p:nth-child(31):after {
		content: "neutral-300"; }

#colors-default p:nth-child(32) {
	background-color: #2D3047;
	color: #e4e5ee;
	border: 2px solid black; }
	#colors-default p:nth-child(32):after {
		content: "neutral-400"; }

#colors-default p:nth-child(33) {
	background-color: #26293c;
	color: #e4e5ee; }
	#colors-default p:nth-child(33):after {
		content: "neutral-500"; }

#colors-default p:nth-child(34) {
	background-color: #202232;
	color: #e4e5ee; }
	#colors-default p:nth-child(34):after {
		content: "neutral-600"; }

#colors-default p:nth-child(35) {
	background-color: #191b27;
	color: #e4e5ee; }
	#colors-default p:nth-child(35):after {
		content: "neutral-700"; }

#colors-default p:nth-child(36) {
	background-color: #b9ffdb;
	color: #050508; }
	#colors-default p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(36):after {
		text-align: center;
		content: "primary-tetrad1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(37) {
	background-color: #a7ffd2;
	color: #050508; }
	#colors-default p:nth-child(37):after {
		content: "primary-tetrad1-200"; }

#colors-default p:nth-child(38) {
	background-color: #94ffc8;
	color: #050508; }
	#colors-default p:nth-child(38):after {
		content: "primary-tetrad1-300"; }

#colors-default p:nth-child(39) {
	background-color: #82ffbf;
	color: #050508; }
	#colors-default p:nth-child(39):after {
		content: "primary-tetrad1-400"; }

#colors-default p:nth-child(40) {
	background-color: #49ffa1;
	color: #050508; }
	#colors-default p:nth-child(40):after {
		content: "primary-tetrad1-500"; }

#colors-default p:nth-child(41) {
	background-color: #10ff84;
	color: #050508; }
	#colors-default p:nth-child(41):after {
		content: "primary-tetrad1-600"; }

#colors-default p:nth-child(42) {
	background-color: #00d668;
	color: #050508; }
	#colors-default p:nth-child(42):after {
		content: "primary-tetrad1-700"; }

#colors-default p:nth-child(43) {
	background-color: #b9bbff;
	color: #050508; }
	#colors-default p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(43):after {
		text-align: center;
		content: "primary-tetrad2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(44) {
	background-color: #a7a8ff;
	color: #050508; }
	#colors-default p:nth-child(44):after {
		content: "primary-tetrad2-200"; }

#colors-default p:nth-child(45) {
	background-color: #9496ff;
	color: #e4e5ee; }
	#colors-default p:nth-child(45):after {
		content: "primary-tetrad2-300"; }

#colors-default p:nth-child(46) {
	background-color: #8284ff;
	color: #e4e5ee; }
	#colors-default p:nth-child(46):after {
		content: "primary-tetrad2-400"; }

#colors-default p:nth-child(47) {
	background-color: #494cff;
	color: #e4e5ee; }
	#colors-default p:nth-child(47):after {
		content: "primary-tetrad2-500"; }

#colors-default p:nth-child(48) {
	background-color: #1014ff;
	color: #e4e5ee; }
	#colors-default p:nth-child(48):after {
		content: "primary-tetrad2-600"; }

#colors-default p:nth-child(49) {
	background-color: #0003d6;
	color: #e4e5ee; }
	#colors-default p:nth-child(49):after {
		content: "primary-tetrad2-700"; }

#colors-default p:nth-child(50) {
	background-color: #ffb9dd;
	color: #050508; }
	#colors-default p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(50):after {
		text-align: center;
		content: "primary-tetrad3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(51) {
	background-color: #ffa7d4;
	color: #050508; }
	#colors-default p:nth-child(51):after {
		content: "primary-tetrad3-200"; }

#colors-default p:nth-child(52) {
	background-color: #ff94cb;
	color: #050508; }
	#colors-default p:nth-child(52):after {
		content: "primary-tetrad3-300"; }

#colors-default p:nth-child(53) {
	background-color: #ff82c3;
	color: #050508; }
	#colors-default p:nth-child(53):after {
		content: "primary-tetrad3-400"; }

#colors-default p:nth-child(54) {
	background-color: #ff49a7;
	color: #e4e5ee; }
	#colors-default p:nth-child(54):after {
		content: "primary-tetrad3-500"; }

#colors-default p:nth-child(55) {
	background-color: #ff108b;
	color: #e4e5ee; }
	#colors-default p:nth-child(55):after {
		content: "primary-tetrad3-600"; }

#colors-default p:nth-child(56) {
	background-color: #d6006f;
	color: #e4e5ee; }
	#colors-default p:nth-child(56):after {
		content: "primary-tetrad3-700"; }

#colors-adaptive p:nth-child(1) {
	background-color: #fffd94;
	color: #090a0e; }
	#colors-adaptive p:nth-child(1):after {
		content: "primary-100"; }

#colors-adaptive p:nth-child(2) {
	background-color: #FFFD82;
	color: #090a0e;
	border: 2px solid black; }
	#colors-adaptive p:nth-child(2):after {
		content: "primary-200"; }

#colors-adaptive p:nth-child(3) {
	background-color: #fffc49;
	color: #090a0e; }
	#colors-adaptive p:nth-child(3):after {
		content: "primary-300"; }

#colors-adaptive p:nth-child(4) {
	background-color: #fffb10;
	color: #090a0e; }
	#colors-adaptive p:nth-child(4):after {
		content: "primary-400"; }

#colors-adaptive p:nth-child(5) {
	background-color: #d6d300;
	color: #090a0e; }
	#colors-adaptive p:nth-child(5):after {
		content: "primary-500"; }

#colors-adaptive p:nth-child(6) {
	background-color: #9d9b00;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(6):after {
		content: "primary-600"; }

#colors-adaptive p:nth-child(7) {
	background-color: #646300;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(7):after {
		content: "primary-700"; }

#colors-adaptive p:nth-child(8) {
	background-color: #ffd6c5;
	color: #090a0e; }
	#colors-adaptive p:nth-child(8):after {
		content: "secondary-100"; }

#colors-adaptive p:nth-child(9) {
	background-color: #ffc7b0;
	color: #090a0e; }
	#colors-adaptive p:nth-child(9):after {
		content: "secondary-200"; }

#colors-adaptive p:nth-child(10) {
	background-color: #ffb99b;
	color: #090a0e; }
	#colors-adaptive p:nth-child(10):after {
		content: "secondary-300"; }

#colors-adaptive p:nth-child(11) {
	background-color: #ffaa86;
	color: #090a0e; }
	#colors-adaptive p:nth-child(11):after {
		content: "secondary-400"; }

#colors-adaptive p:nth-child(12) {
	background-color: #FF9B71;
	color: #090a0e;
	border: 2px solid black; }
	#colors-adaptive p:nth-child(12):after {
		content: "secondary-500"; }

#colors-adaptive p:nth-child(13) {
	background-color: #ff753b;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(13):after {
		content: "secondary-600"; }

#colors-adaptive p:nth-child(14) {
	background-color: #ff4e04;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(14):after {
		content: "secondary-700"; }

#colors-adaptive p:nth-child(15) {
	background-color: #f9cfd3;
	color: #090a0e; }
	#colors-adaptive p:nth-child(15):after {
		content: "tertiary-100"; }

#colors-adaptive p:nth-child(16) {
	background-color: #f6b4ba;
	color: #090a0e; }
	#colors-adaptive p:nth-child(16):after {
		content: "tertiary-200"; }

#colors-adaptive p:nth-child(17) {
	background-color: #f299a0;
	color: #090a0e; }
	#colors-adaptive p:nth-child(17):after {
		content: "tertiary-300"; }

#colors-adaptive p:nth-child(18) {
	background-color: #ef7e87;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(18):after {
		content: "tertiary-400"; }

#colors-adaptive p:nth-child(19) {
	background-color: #eb636e;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(19):after {
		content: "tertiary-500"; }

#colors-adaptive p:nth-child(20) {
	background-color: #E84855;
	color: #f9f9fb;
	border: 2px solid black; }
	#colors-adaptive p:nth-child(20):after {
		content: "tertiary-600"; }

#colors-adaptive p:nth-child(21) {
	background-color: #e32030;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(21):after {
		content: "tertiary-700"; }

#colors-adaptive p:nth-child(22) {
	background-color: #a9eefd;
	color: #090a0e; }
	#colors-adaptive p:nth-child(22):after {
		content: "accent-100"; }

#colors-adaptive p:nth-child(23) {
	background-color: #78e5fc;
	color: #090a0e; }
	#colors-adaptive p:nth-child(23):after {
		content: "accent-200"; }

#colors-adaptive p:nth-child(24) {
	background-color: #47dbfb;
	color: #090a0e; }
	#colors-adaptive p:nth-child(24):after {
		content: "accent-300"; }

#colors-adaptive p:nth-child(25) {
	background-color: #17d1f9;
	color: #090a0e; }
	#colors-adaptive p:nth-child(25):after {
		content: "accent-400"; }

#colors-adaptive p:nth-child(26) {
	background-color: #05b3d9;
	color: #090a0e; }
	#colors-adaptive p:nth-child(26):after {
		content: "accent-500"; }

#colors-adaptive p:nth-child(27) {
	background-color: #048BA8;
	color: #f9f9fb;
	border: 2px solid black; }
	#colors-adaptive p:nth-child(27):after {
		content: "accent-600"; }

#colors-adaptive p:nth-child(28) {
	background-color: #03768f;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(28):after {
		content: "accent-700"; }

#colors-adaptive p:nth-child(29) {
	background-color: #e0e1eb;
	color: #090a0e; }
	#colors-adaptive p:nth-child(29):after {
		content: "neutral-100"; }

#colors-adaptive p:nth-child(30) {
	background-color: #c0c3d7;
	color: #090a0e; }
	#colors-adaptive p:nth-child(30):after {
		content: "neutral-200"; }

#colors-adaptive p:nth-child(31) {
	background-color: #9da1c1;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(31):after {
		content: "neutral-300"; }

#colors-adaptive p:nth-child(32) {
	background-color: #797faa;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(32):after {
		content: "neutral-400"; }

#colors-adaptive p:nth-child(33) {
	background-color: #5a608e;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(33):after {
		content: "neutral-500"; }

#colors-adaptive p:nth-child(34) {
	background-color: #44486b;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(34):after {
		content: "neutral-600"; }

#colors-adaptive p:nth-child(35) {
	background-color: #2D3047;
	color: #f9f9fb;
	border: 2px solid black; }
	#colors-adaptive p:nth-child(35):after {
		content: "neutral-700"; }

#colors-adaptive p:nth-child(36) {
	background-color: #b9ffdb;
	color: #090a0e; }
	#colors-adaptive p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(36):after {
		text-align: center;
		content: "primary-tetrad1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(37) {
	background-color: #94ffc8;
	color: #090a0e; }
	#colors-adaptive p:nth-child(37):after {
		content: "primary-tetrad1-200"; }

#colors-adaptive p:nth-child(38) {
	background-color: #82ffbf;
	color: #090a0e; }
	#colors-adaptive p:nth-child(38):after {
		content: "primary-tetrad1-300"; }

#colors-adaptive p:nth-child(39) {
	background-color: #49ffa1;
	color: #090a0e; }
	#colors-adaptive p:nth-child(39):after {
		content: "primary-tetrad1-400"; }

#colors-adaptive p:nth-child(40) {
	background-color: #10ff84;
	color: #090a0e; }
	#colors-adaptive p:nth-child(40):after {
		content: "primary-tetrad1-500"; }

#colors-adaptive p:nth-child(41) {
	background-color: #00d668;
	color: #090a0e; }
	#colors-adaptive p:nth-child(41):after {
		content: "primary-tetrad1-600"; }

#colors-adaptive p:nth-child(42) {
	background-color: #009d4c;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(42):after {
		content: "primary-tetrad1-700"; }

#colors-adaptive p:nth-child(43) {
	background-color: #dedfff;
	color: #090a0e; }
	#colors-adaptive p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(43):after {
		text-align: center;
		content: "primary-tetrad2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(44) {
	background-color: #cccdff;
	color: #090a0e; }
	#colors-adaptive p:nth-child(44):after {
		content: "primary-tetrad2-200"; }

#colors-adaptive p:nth-child(45) {
	background-color: #b9bbff;
	color: #090a0e; }
	#colors-adaptive p:nth-child(45):after {
		content: "primary-tetrad2-300"; }

#colors-adaptive p:nth-child(46) {
	background-color: #a7a8ff;
	color: #090a0e; }
	#colors-adaptive p:nth-child(46):after {
		content: "primary-tetrad2-400"; }

#colors-adaptive p:nth-child(47) {
	background-color: #9496ff;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(47):after {
		content: "primary-tetrad2-500"; }

#colors-adaptive p:nth-child(48) {
	background-color: #8284ff;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(48):after {
		content: "primary-tetrad2-600"; }

#colors-adaptive p:nth-child(49) {
	background-color: #494cff;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(49):after {
		content: "primary-tetrad2-700"; }

#colors-adaptive p:nth-child(50) {
	background-color: #ffcce6;
	color: #090a0e; }
	#colors-adaptive p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(50):after {
		text-align: center;
		content: "primary-tetrad3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(51) {
	background-color: #ffb9dd;
	color: #090a0e; }
	#colors-adaptive p:nth-child(51):after {
		content: "primary-tetrad3-200"; }

#colors-adaptive p:nth-child(52) {
	background-color: #ffa7d4;
	color: #090a0e; }
	#colors-adaptive p:nth-child(52):after {
		content: "primary-tetrad3-300"; }

#colors-adaptive p:nth-child(53) {
	background-color: #ff94cb;
	color: #090a0e; }
	#colors-adaptive p:nth-child(53):after {
		content: "primary-tetrad3-400"; }

#colors-adaptive p:nth-child(54) {
	background-color: #ff82c3;
	color: #090a0e; }
	#colors-adaptive p:nth-child(54):after {
		content: "primary-tetrad3-500"; }

#colors-adaptive p:nth-child(55) {
	background-color: #ff49a7;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(55):after {
		content: "primary-tetrad3-600"; }

#colors-adaptive p:nth-child(56) {
	background-color: #ff108b;
	color: #f9f9fb; }
	#colors-adaptive p:nth-child(56):after {
		content: "primary-tetrad3-700"; }

#analogous-400 p, #compound-400 p, #tetrad-400 p, #quadratic-400 p, #triad-400 p, #split-400 p {
	padding: 0;
	margin: 0;
	min-height: 3rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }
	#analogous-400 p:after, #compound-400 p:after, #tetrad-400 p:after, #quadratic-400 p:after, #triad-400 p:after, #split-400 p:after {
		line-height: 1rem;
		font-size: 1rem; }

#analogous-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#analogous-400 p:nth-child(1):after {
	content: "primary-400"; }

#analogous-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#analogous-400 p:nth-child(2):after {
	content: "secondary-400"; }

#analogous-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#analogous-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#analogous-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#analogous-400 p:nth-child(4):after {
	content: "accent-400"; }

#analogous-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#analogous-400 p:nth-child(5):after {
	content: "neutral-400"; }

#analogous-400 p:nth-child(6) {
	background-color: #ff9496;
	color: #090a0e; }

#analogous-400 p:nth-child(6):after {
	content: "primary-analogous1-400"; }

#analogous-400 p:nth-child(7) {
	background-color: #ffbf82;
	color: #090a0e; }

#analogous-400 p:nth-child(7):after {
	content: "primary-analogous2-400"; }

#analogous-400 p:nth-child(8) {
	background-color: #8bff10;
	color: #090a0e; }

#analogous-400 p:nth-child(8):after {
	content: "primary-analogous3-400"; }

#analogous-400 p:nth-child(9) {
	background-color: #4cff49;
	color: #090a0e; }

#analogous-400 p:nth-child(9):after {
	content: "primary-analogous4-400"; }

#analogous-400 p:nth-child(10) {
	background-color: #a7a8ff;
	color: #090a0e; }

#analogous-400 p:nth-child(10):after {
	content: "primary-complement-400"; }

#compound-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#compound-400 p:nth-child(1):after {
	content: "primary-400"; }

#compound-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#compound-400 p:nth-child(2):after {
	content: "secondary-400"; }

#compound-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#compound-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#compound-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#compound-400 p:nth-child(4):after {
	content: "accent-400"; }

#compound-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#compound-400 p:nth-child(5):after {
	content: "neutral-400"; }

#compound-400 p:nth-child(6) {
	background-color: #c0df9f;
	color: #090a0e; }

#compound-400 p:nth-child(6):after {
	content: "primary-compound1-400"; }

#compound-400 p:nth-child(7) {
	background-color: #95be68;
	color: #090a0e; }

#compound-400 p:nth-child(7):after {
	content: "primary-compound2-400"; }

#compound-400 p:nth-child(8) {
	background-color: #d9c6ee;
	color: #090a0e; }

#compound-400 p:nth-child(8):after {
	content: "primary-compound3-400"; }

#compound-400 p:nth-child(9) {
	background-color: #a867ee;
	color: #f9f9fb; }

#compound-400 p:nth-child(9):after {
	content: "primary-compound4-400"; }

#compound-400 p:nth-child(10) {
	background-color: #a7a8ff;
	color: #090a0e; }

#compound-400 p:nth-child(10):after {
	content: "primary-complement-400"; }

#tetrad-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#tetrad-400 p:nth-child(1):after {
	content: "primary-400"; }

#tetrad-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#tetrad-400 p:nth-child(2):after {
	content: "secondary-400"; }

#tetrad-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#tetrad-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#tetrad-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#tetrad-400 p:nth-child(4):after {
	content: "accent-400"; }

#tetrad-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#tetrad-400 p:nth-child(5):after {
	content: "neutral-400"; }

#tetrad-400 p:nth-child(6) {
	background-color: #4cff49;
	color: #090a0e; }

#tetrad-400 p:nth-child(6):after {
	content: "primary-tetrad1-400"; }

#tetrad-400 p:nth-child(7) {
	background-color: #a7a8ff;
	color: #090a0e; }

#tetrad-400 p:nth-child(7):after {
	content: "primary-tetrad2-400"; }

#tetrad-400 p:nth-child(8) {
	background-color: #fd94ff;
	color: #090a0e; }

#tetrad-400 p:nth-child(8):after {
	content: "primary-tetrad3-400"; }

#quadratic-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#quadratic-400 p:nth-child(1):after {
	content: "primary-400"; }

#quadratic-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#quadratic-400 p:nth-child(2):after {
	content: "secondary-400"; }

#quadratic-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#quadratic-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#quadratic-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#quadratic-400 p:nth-child(4):after {
	content: "accent-400"; }

#quadratic-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#quadratic-400 p:nth-child(5):after {
	content: "neutral-400"; }

#quadratic-400 p:nth-child(6) {
	background-color: #49ffa1;
	color: #090a0e; }

#quadratic-400 p:nth-child(6):after {
	content: "primary-tetrad1-400"; }

#quadratic-400 p:nth-child(7) {
	background-color: #a7a8ff;
	color: #090a0e; }

#quadratic-400 p:nth-child(7):after {
	content: "primary-tetrad2-400"; }

#quadratic-400 p:nth-child(8) {
	background-color: #ff94cb;
	color: #090a0e; }

#quadratic-400 p:nth-child(8):after {
	content: "primary-tetrad3-400"; }

#triad-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#triad-400 p:nth-child(1):after {
	content: "primary-400"; }

#triad-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#triad-400 p:nth-child(2):after {
	content: "secondary-400"; }

#triad-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#triad-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#triad-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#triad-400 p:nth-child(4):after {
	content: "accent-400"; }

#triad-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#triad-400 p:nth-child(5):after {
	content: "neutral-400"; }

#triad-400 p:nth-child(6) {
	background-color: #49fffc;
	color: #090a0e; }

#triad-400 p:nth-child(6):after {
	content: "primary-triad1-400"; }

#triad-400 p:nth-child(7) {
	background-color: #fd94ff;
	color: #090a0e; }

#triad-400 p:nth-child(7):after {
	content: "primary-triad2-400"; }

#triad-400 p:nth-child(8) {
	background-color: #a7a8ff;
	color: #090a0e; }

#triad-400 p:nth-child(8):after {
	content: "primary-complement-400"; }

#split-400 p:nth-child(1) {
	background-color: #fffb10;
	color: #090a0e; }

#split-400 p:nth-child(1):after {
	content: "primary-400"; }

#split-400 p:nth-child(2) {
	background-color: #ffaa86;
	color: #090a0e; }

#split-400 p:nth-child(2):after {
	content: "secondary-400"; }

#split-400 p:nth-child(3) {
	background-color: #ef7e87;
	color: #f9f9fb; }

#split-400 p:nth-child(3):after {
	content: "tertiary-400"; }

#split-400 p:nth-child(4) {
	background-color: #17d1f9;
	color: #090a0e; }

#split-400 p:nth-child(4):after {
	content: "accent-400"; }

#split-400 p:nth-child(5) {
	background-color: #797faa;
	color: #f9f9fb; }

#split-400 p:nth-child(5):after {
	content: "neutral-400"; }

#split-400 p:nth-child(6) {
	background-color: #94cbff;
	color: #090a0e; }

#split-400 p:nth-child(6):after {
	content: "primary-split1-400"; }

#split-400 p:nth-child(7) {
	background-color: #d2a7ff;
	color: #090a0e; }

#split-400 p:nth-child(7):after {
	content: "primary-split2-400"; }

#split-400 p:nth-child(8) {
	background-color: #a7a8ff;
	color: #090a0e; }

#split-400 p:nth-child(8):after {
	content: "primary-complement-400"; }
