/*
	Required only by Color-Charts.scss (for framework demo)
 */
#colors-default p, #colors-adaptive p, #colors-static p {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	padding: 0;
	margin: 0;
	line-height: 1rem;
	font-size: 1rem;
	min-height: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }

#colors-default p:nth-child(1) {
	background-color: #f3fbf6;
	color: #010507; }
	#colors-default p:nth-child(1):after {
		content: "primary-100 ( #f3fbf6 )"; }

#colors-default p:nth-child(2) {
	background-color: #effaf3;
	color: #010507; }
	#colors-default p:nth-child(2):after {
		content: "primary-200 ( #effaf3 )"; }

#colors-default p:nth-child(3) {
	background-color: #ecf8f1;
	color: #010507; }
	#colors-default p:nth-child(3):after {
		content: "primary-300 ( #ecf8f1 )"; }

#colors-default p:nth-child(4) {
	background-color: #e8f7ee;
	color: #010507;
	border: 2px solid black; }
	#colors-default p:nth-child(4):after {
		content: "primary-400 ( #e8f7ee )"; }

#colors-default p:nth-child(5) {
	background-color: #b0e3c4;
	color: #010507; }
	#colors-default p:nth-child(5):after {
		content: "primary-500 ( #b0e3c4 )"; }

#colors-default p:nth-child(6) {
	background-color: #77d09a;
	color: #010507; }
	#colors-default p:nth-child(6):after {
		content: "primary-600 ( #77d09a )"; }

#colors-default p:nth-child(7) {
	background-color: #41ba71;
	color: #010507; }
	#colors-default p:nth-child(7):after {
		content: "primary-700 ( #41ba71 )"; }

#colors-default p:nth-child(8) {
	background-color: #eaeeed;
	color: #010507; }
	#colors-default p:nth-child(8):after {
		content: "secondary-100 ( #eaeeed )"; }

#colors-default p:nth-child(9) {
	background-color: #e4e8e7;
	color: #010507; }
	#colors-default p:nth-child(9):after {
		content: "secondary-200 ( #e4e8e7 )"; }

#colors-default p:nth-child(10) {
	background-color: #dde3e2;
	color: #010507; }
	#colors-default p:nth-child(10):after {
		content: "secondary-300 ( #dde3e2 )"; }

#colors-default p:nth-child(11) {
	background-color: #d7dedc;
	color: #010507;
	border: 2px solid black; }
	#colors-default p:nth-child(11):after {
		content: "secondary-400 ( #d7dedc )"; }

#colors-default p:nth-child(12) {
	background-color: #b1bfbb;
	color: #010507; }
	#colors-default p:nth-child(12):after {
		content: "secondary-500 ( #b1bfbb )"; }

#colors-default p:nth-child(13) {
	background-color: #8b9f99;
	color: #d8eff9; }
	#colors-default p:nth-child(13):after {
		content: "secondary-600 ( #8b9f99 )"; }

#colors-default p:nth-child(14) {
	background-color: #677d77;
	color: #d8eff9; }
	#colors-default p:nth-child(14):after {
		content: "secondary-700 ( #677d77 )"; }

#colors-default p:nth-child(15) {
	background-color: #cbc6cf;
	color: #010507; }
	#colors-default p:nth-child(15):after {
		content: "tertiary-100 ( #cbc6cf )"; }

#colors-default p:nth-child(16) {
	background-color: #bbb5c0;
	color: #010507; }
	#colors-default p:nth-child(16):after {
		content: "tertiary-200 ( #bbb5c0 )"; }

#colors-default p:nth-child(17) {
	background-color: #aca3b2;
	color: #010507; }
	#colors-default p:nth-child(17):after {
		content: "tertiary-300 ( #aca3b2 )"; }

#colors-default p:nth-child(18) {
	background-color: #9c92a3;
	color: #d8eff9;
	border: 2px solid black; }
	#colors-default p:nth-child(18):after {
		content: "tertiary-400 ( #9c92a3 )"; }

#colors-default p:nth-child(19) {
	background-color: #84778d;
	color: #d8eff9; }
	#colors-default p:nth-child(19):after {
		content: "tertiary-500 ( #84778d )"; }

#colors-default p:nth-child(20) {
	background-color: #6b6072;
	color: #d8eff9; }
	#colors-default p:nth-child(20):after {
		content: "tertiary-600 ( #6b6072 )"; }

#colors-default p:nth-child(21) {
	background-color: #524a58;
	color: #d8eff9; }
	#colors-default p:nth-child(21):after {
		content: "tertiary-700 ( #524a58 )"; }

#colors-default p:nth-child(22) {
	background-color: #c059b4;
	color: #d8eff9; }
	#colors-default p:nth-child(22):after {
		content: "accent-100 ( #c059b4 )"; }

#colors-default p:nth-child(23) {
	background-color: #9a3a8e;
	color: #d8eff9; }
	#colors-default p:nth-child(23):after {
		content: "accent-200 ( #9a3a8e )"; }

#colors-default p:nth-child(24) {
	background-color: #672760;
	color: #d8eff9; }
	#colors-default p:nth-child(24):after {
		content: "accent-300 ( #672760 )"; }

#colors-default p:nth-child(25) {
	background-color: #351431;
	color: #d8eff9;
	border: 2px solid black; }
	#colors-default p:nth-child(25):after {
		content: "accent-400 ( #351431 )"; }

#colors-default p:nth-child(26) {
	background-color: #2d1129;
	color: #d8eff9; }
	#colors-default p:nth-child(26):after {
		content: "accent-500 ( #2d1129 )"; }

#colors-default p:nth-child(27) {
	background-color: #240e21;
	color: #d8eff9; }
	#colors-default p:nth-child(27):after {
		content: "accent-600 ( #240e21 )"; }

#colors-default p:nth-child(28) {
	background-color: #1c0a1a;
	color: #d8eff9; }
	#colors-default p:nth-child(28):after {
		content: "accent-700 ( #1c0a1a )"; }

#colors-default p:nth-child(29) {
	background-color: #3daddf;
	color: #d8eff9; }
	#colors-default p:nth-child(29):after {
		content: "neutral-100 ( #3daddf )"; }

#colors-default p:nth-child(30) {
	background-color: #1f89b8;
	color: #d8eff9; }
	#colors-default p:nth-child(30):after {
		content: "neutral-200 ( #1f89b8 )"; }

#colors-default p:nth-child(31) {
	background-color: #155d7d;
	color: #d8eff9; }
	#colors-default p:nth-child(31):after {
		content: "neutral-300 ( #155d7d )"; }

#colors-default p:nth-child(32) {
	background-color: #0b3142;
	color: #d8eff9;
	border: 2px solid black; }
	#colors-default p:nth-child(32):after {
		content: "neutral-400 ( #0b3142 )"; }

#colors-default p:nth-child(33) {
	background-color: #092938;
	color: #d8eff9; }
	#colors-default p:nth-child(33):after {
		content: "neutral-500 ( #092938 )"; }

#colors-default p:nth-child(34) {
	background-color: #08212d;
	color: #d8eff9; }
	#colors-default p:nth-child(34):after {
		content: "neutral-600 ( #08212d )"; }

#colors-default p:nth-child(35) {
	background-color: #061a23;
	color: #d8eff9; }
	#colors-default p:nth-child(35):after {
		content: "neutral-700 ( #061a23 )"; }

#colors-default p:nth-child(36) {
	background-color: #fafbf3;
	color: #010507; }
	#colors-default p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(36):after {
		text-align: center;
		content: "primary-analogous1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(37) {
	background-color: #f8faef;
	color: #010507; }
	#colors-default p:nth-child(37):after {
		content: "primary-analogous1-200"; }

#colors-default p:nth-child(38) {
	background-color: #f6f8ec;
	color: #010507; }
	#colors-default p:nth-child(38):after {
		content: "primary-analogous1-300"; }

#colors-default p:nth-child(39) {
	background-color: #f5f7e8;
	color: #010507; }
	#colors-default p:nth-child(39):after {
		content: "primary-analogous1-400"; }

#colors-default p:nth-child(40) {
	background-color: #dce3b0;
	color: #010507; }
	#colors-default p:nth-child(40):after {
		content: "primary-analogous1-500"; }

#colors-default p:nth-child(41) {
	background-color: #c2d077;
	color: #010507; }
	#colors-default p:nth-child(41):after {
		content: "primary-analogous1-600"; }

#colors-default p:nth-child(42) {
	background-color: #a8ba41;
	color: #010507; }
	#colors-default p:nth-child(42):after {
		content: "primary-analogous1-700"; }

#colors-default p:nth-child(43) {
	background-color: #f4fbf3;
	color: #010507; }
	#colors-default p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(43):after {
		text-align: center;
		content: "primary-analogous2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(44) {
	background-color: #f0faef;
	color: #010507; }
	#colors-default p:nth-child(44):after {
		content: "primary-analogous2-200"; }

#colors-default p:nth-child(45) {
	background-color: #edf8ec;
	color: #010507; }
	#colors-default p:nth-child(45):after {
		content: "primary-analogous2-300"; }

#colors-default p:nth-child(46) {
	background-color: #eaf7e8;
	color: #010507; }
	#colors-default p:nth-child(46):after {
		content: "primary-analogous2-400"; }

#colors-default p:nth-child(47) {
	background-color: #b5e3b0;
	color: #010507; }
	#colors-default p:nth-child(47):after {
		content: "primary-analogous2-500"; }

#colors-default p:nth-child(48) {
	background-color: #80d077;
	color: #010507; }
	#colors-default p:nth-child(48):after {
		content: "primary-analogous2-600"; }

#colors-default p:nth-child(49) {
	background-color: #4dba41;
	color: #010507; }
	#colors-default p:nth-child(49):after {
		content: "primary-analogous2-700"; }

#colors-default p:nth-child(50) {
	background-color: #f3fbfa;
	color: #010507; }
	#colors-default p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(50):after {
		text-align: center;
		content: "primary-analogous3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(51) {
	background-color: #effaf9;
	color: #010507; }
	#colors-default p:nth-child(51):after {
		content: "primary-analogous3-200"; }

#colors-default p:nth-child(52) {
	background-color: #ecf8f7;
	color: #010507; }
	#colors-default p:nth-child(52):after {
		content: "primary-analogous3-300"; }

#colors-default p:nth-child(53) {
	background-color: #e8f7f6;
	color: #010507; }
	#colors-default p:nth-child(53):after {
		content: "primary-analogous3-400"; }

#colors-default p:nth-child(54) {
	background-color: #b0e3de;
	color: #010507; }
	#colors-default p:nth-child(54):after {
		content: "primary-analogous3-500"; }

#colors-default p:nth-child(55) {
	background-color: #77d0c7;
	color: #010507; }
	#colors-default p:nth-child(55):after {
		content: "primary-analogous3-600"; }

#colors-default p:nth-child(56) {
	background-color: #41baae;
	color: #010507; }
	#colors-default p:nth-child(56):after {
		content: "primary-analogous3-700"; }

#colors-default p:nth-child(57) {
	background-color: #f3f6fb;
	color: #010507; }
	#colors-default p:nth-child(57):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(57):after {
		text-align: center;
		content: "primary-analogous4-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(58) {
	background-color: #eff3fa;
	color: #010507; }
	#colors-default p:nth-child(58):after {
		content: "primary-analogous4-200"; }

#colors-default p:nth-child(59) {
	background-color: #ecf0f8;
	color: #010507; }
	#colors-default p:nth-child(59):after {
		content: "primary-analogous4-300"; }

#colors-default p:nth-child(60) {
	background-color: #e8edf7;
	color: #010507; }
	#colors-default p:nth-child(60):after {
		content: "primary-analogous4-400"; }

#colors-default p:nth-child(61) {
	background-color: #b0c2e3;
	color: #010507; }
	#colors-default p:nth-child(61):after {
		content: "primary-analogous4-500"; }

#colors-default p:nth-child(62) {
	background-color: #7796d0;
	color: #d8eff9; }
	#colors-default p:nth-child(62):after {
		content: "primary-analogous4-600"; }

#colors-default p:nth-child(63) {
	background-color: #416bba;
	color: #d8eff9; }
	#colors-default p:nth-child(63):after {
		content: "primary-analogous4-700"; }

#colors-default p:nth-child(64) {
	background-color: #fbf3f8;
	color: #010507; }
	#colors-default p:nth-child(64):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-default p:nth-child(64):after {
		text-align: center;
		content: "complement-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-default p:nth-child(65) {
	background-color: #faeff5;
	color: #010507; }
	#colors-default p:nth-child(65):after {
		content: "complement-200"; }

#colors-default p:nth-child(66) {
	background-color: #f8ecf3;
	color: #010507; }
	#colors-default p:nth-child(66):after {
		content: "complement-300"; }

#colors-default p:nth-child(67) {
	background-color: #f7e8f1;
	color: #010507; }
	#colors-default p:nth-child(67):after {
		content: "complement-400"; }

#colors-default p:nth-child(68) {
	background-color: #e3b0cf;
	color: #010507; }
	#colors-default p:nth-child(68):after {
		content: "complement-500"; }

#colors-default p:nth-child(69) {
	background-color: #d077ac;
	color: #d8eff9; }
	#colors-default p:nth-child(69):after {
		content: "complement-600"; }

#colors-default p:nth-child(70) {
	background-color: #ba4189;
	color: #d8eff9; }
	#colors-default p:nth-child(70):after {
		content: "complement-700"; }

#colors-adaptive p:nth-child(1) {
	background-color: #f3fbf6;
	color: #020a0d; }
	#colors-adaptive p:nth-child(1):after {
		content: "primary-100 ( #f3fbf6 )"; }

#colors-adaptive p:nth-child(2) {
	background-color: #ecf8f1;
	color: #020a0d; }
	#colors-adaptive p:nth-child(2):after {
		content: "primary-200 ( #ecf8f1 )"; }

#colors-adaptive p:nth-child(3) {
	background-color: #e8f7ee;
	color: #020a0d;
	border: 2px solid #020a0d; }
	#colors-adaptive p:nth-child(3):after {
		content: "primary-300 ( #e8f7ee )"; }

#colors-adaptive p:nth-child(4) {
	background-color: #b0e3c4;
	color: #020a0d; }
	#colors-adaptive p:nth-child(4):after {
		content: "primary-400 ( #b0e3c4 )"; }

#colors-adaptive p:nth-child(5) {
	background-color: #77d09a;
	color: #020a0d; }
	#colors-adaptive p:nth-child(5):after {
		content: "primary-500 ( #77d09a )"; }

#colors-adaptive p:nth-child(6) {
	background-color: #41ba71;
	color: #020a0d; }
	#colors-adaptive p:nth-child(6):after {
		content: "primary-600 ( #41ba71 )"; }

#colors-adaptive p:nth-child(7) {
	background-color: #2d814f;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(7):after {
		content: "primary-700 ( #2d814f )"; }

#colors-adaptive p:nth-child(8) {
	background-color: #eaeeed;
	color: #020a0d; }
	#colors-adaptive p:nth-child(8):after {
		content: "secondary-100 ( #eaeeed )"; }

#colors-adaptive p:nth-child(9) {
	background-color: #e4e8e7;
	color: #020a0d; }
	#colors-adaptive p:nth-child(9):after {
		content: "secondary-200 ( #e4e8e7 )"; }

#colors-adaptive p:nth-child(10) {
	background-color: #dde3e2;
	color: #020a0d; }
	#colors-adaptive p:nth-child(10):after {
		content: "secondary-300 ( #dde3e2 )"; }

#colors-adaptive p:nth-child(11) {
	background-color: #d7dedc;
	color: #020a0d;
	border: 2px solid #020a0d; }
	#colors-adaptive p:nth-child(11):after {
		content: "secondary-400 ( #d7dedc )"; }

#colors-adaptive p:nth-child(12) {
	background-color: #b1bfbb;
	color: #020a0d; }
	#colors-adaptive p:nth-child(12):after {
		content: "secondary-500 ( #b1bfbb )"; }

#colors-adaptive p:nth-child(13) {
	background-color: #8b9f99;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(13):after {
		content: "secondary-600 ( #8b9f99 )"; }

#colors-adaptive p:nth-child(14) {
	background-color: #677d77;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(14):after {
		content: "secondary-700 ( #677d77 )"; }

#colors-adaptive p:nth-child(15) {
	background-color: #ebe9ec;
	color: #020a0d; }
	#colors-adaptive p:nth-child(15):after {
		content: "tertiary-100 ( #ebe9ec )"; }

#colors-adaptive p:nth-child(16) {
	background-color: #dbd7dd;
	color: #020a0d; }
	#colors-adaptive p:nth-child(16):after {
		content: "tertiary-200 ( #dbd7dd )"; }

#colors-adaptive p:nth-child(17) {
	background-color: #cbc6cf;
	color: #020a0d; }
	#colors-adaptive p:nth-child(17):after {
		content: "tertiary-300 ( #cbc6cf )"; }

#colors-adaptive p:nth-child(18) {
	background-color: #bbb5c0;
	color: #020a0d; }
	#colors-adaptive p:nth-child(18):after {
		content: "tertiary-400 ( #bbb5c0 )"; }

#colors-adaptive p:nth-child(19) {
	background-color: #aca3b2;
	color: #020a0d; }
	#colors-adaptive p:nth-child(19):after {
		content: "tertiary-500 ( #aca3b2 )"; }

#colors-adaptive p:nth-child(20) {
	background-color: #9c92a3;
	color: #f5fbfd;
	border: 2px solid #f5fbfd; }
	#colors-adaptive p:nth-child(20):after {
		content: "tertiary-600 ( #9c92a3 )"; }

#colors-adaptive p:nth-child(21) {
	background-color: #84778d;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(21):after {
		content: "tertiary-700 ( #84778d )"; }

#colors-adaptive p:nth-child(22) {
	background-color: #efd6ec;
	color: #020a0d; }
	#colors-adaptive p:nth-child(22):after {
		content: "accent-100 ( #efd6ec )"; }

#colors-adaptive p:nth-child(23) {
	background-color: #e6bee2;
	color: #020a0d; }
	#colors-adaptive p:nth-child(23):after {
		content: "accent-200 ( #e6bee2 )"; }

#colors-adaptive p:nth-child(24) {
	background-color: #d38bcb;
	color: #020a0d; }
	#colors-adaptive p:nth-child(24):after {
		content: "accent-300 ( #d38bcb )"; }

#colors-adaptive p:nth-child(25) {
	background-color: #c059b4;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(25):after {
		content: "accent-400 ( #c059b4 )"; }

#colors-adaptive p:nth-child(26) {
	background-color: #9a3a8e;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(26):after {
		content: "accent-500 ( #9a3a8e )"; }

#colors-adaptive p:nth-child(27) {
	background-color: #672760;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(27):after {
		content: "accent-600 ( #672760 )"; }

#colors-adaptive p:nth-child(28) {
	background-color: #351431;
	color: #f5fbfd;
	border: 2px solid #f5fbfd; }
	#colors-adaptive p:nth-child(28):after {
		content: "accent-700 ( #351431 )"; }

#colors-adaptive p:nth-child(29) {
	background-color: #cfebf7;
	color: #020a0d; }
	#colors-adaptive p:nth-child(29):after {
		content: "neutral-100 ( #cfebf7 )"; }

#colors-adaptive p:nth-child(30) {
	background-color: #b3dff2;
	color: #020a0d; }
	#colors-adaptive p:nth-child(30):after {
		content: "neutral-200 ( #b3dff2 )"; }

#colors-adaptive p:nth-child(31) {
	background-color: #78c6e8;
	color: #020a0d; }
	#colors-adaptive p:nth-child(31):after {
		content: "neutral-300 ( #78c6e8 )"; }

#colors-adaptive p:nth-child(32) {
	background-color: #3daddf;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(32):after {
		content: "neutral-400 ( #3daddf )"; }

#colors-adaptive p:nth-child(33) {
	background-color: #1f89b8;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(33):after {
		content: "neutral-500 ( #1f89b8 )"; }

#colors-adaptive p:nth-child(34) {
	background-color: #155d7d;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(34):after {
		content: "neutral-600 ( #155d7d )"; }

#colors-adaptive p:nth-child(35) {
	background-color: #0b3142;
	color: #f5fbfd;
	border: 2px solid #f5fbfd; }
	#colors-adaptive p:nth-child(35):after {
		content: "neutral-700 ( #0b3142 )"; }

#colors-adaptive p:nth-child(36) {
	background-color: #fafbf3;
	color: #020a0d; }
	#colors-adaptive p:nth-child(36):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(36):after {
		text-align: center;
		content: "primary-analogous1-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(37) {
	background-color: #f6f8ec;
	color: #020a0d; }
	#colors-adaptive p:nth-child(37):after {
		content: "primary-analogous1-200"; }

#colors-adaptive p:nth-child(38) {
	background-color: #f5f7e8;
	color: #020a0d; }
	#colors-adaptive p:nth-child(38):after {
		content: "primary-analogous1-300"; }

#colors-adaptive p:nth-child(39) {
	background-color: #dce3b0;
	color: #020a0d; }
	#colors-adaptive p:nth-child(39):after {
		content: "primary-analogous1-400"; }

#colors-adaptive p:nth-child(40) {
	background-color: #c2d077;
	color: #020a0d; }
	#colors-adaptive p:nth-child(40):after {
		content: "primary-analogous1-500"; }

#colors-adaptive p:nth-child(41) {
	background-color: #a8ba41;
	color: #020a0d; }
	#colors-adaptive p:nth-child(41):after {
		content: "primary-analogous1-600"; }

#colors-adaptive p:nth-child(42) {
	background-color: #75812d;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(42):after {
		content: "primary-analogous1-700"; }

#colors-adaptive p:nth-child(43) {
	background-color: #f4fbf3;
	color: #020a0d; }
	#colors-adaptive p:nth-child(43):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(43):after {
		text-align: center;
		content: "primary-analogous2-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(44) {
	background-color: #edf8ec;
	color: #020a0d; }
	#colors-adaptive p:nth-child(44):after {
		content: "primary-analogous2-200"; }

#colors-adaptive p:nth-child(45) {
	background-color: #eaf7e8;
	color: #020a0d; }
	#colors-adaptive p:nth-child(45):after {
		content: "primary-analogous2-300"; }

#colors-adaptive p:nth-child(46) {
	background-color: #b5e3b0;
	color: #020a0d; }
	#colors-adaptive p:nth-child(46):after {
		content: "primary-analogous2-400"; }

#colors-adaptive p:nth-child(47) {
	background-color: #80d077;
	color: #020a0d; }
	#colors-adaptive p:nth-child(47):after {
		content: "primary-analogous2-500"; }

#colors-adaptive p:nth-child(48) {
	background-color: #4dba41;
	color: #020a0d; }
	#colors-adaptive p:nth-child(48):after {
		content: "primary-analogous2-600"; }

#colors-adaptive p:nth-child(49) {
	background-color: #35812d;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(49):after {
		content: "primary-analogous2-700"; }

#colors-adaptive p:nth-child(50) {
	background-color: #f3fbfa;
	color: #020a0d; }
	#colors-adaptive p:nth-child(50):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(50):after {
		text-align: center;
		content: "primary-analogous3-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(51) {
	background-color: #ecf8f7;
	color: #020a0d; }
	#colors-adaptive p:nth-child(51):after {
		content: "primary-analogous3-200"; }

#colors-adaptive p:nth-child(52) {
	background-color: #e8f7f6;
	color: #020a0d; }
	#colors-adaptive p:nth-child(52):after {
		content: "primary-analogous3-300"; }

#colors-adaptive p:nth-child(53) {
	background-color: #b0e3de;
	color: #020a0d; }
	#colors-adaptive p:nth-child(53):after {
		content: "primary-analogous3-400"; }

#colors-adaptive p:nth-child(54) {
	background-color: #77d0c7;
	color: #020a0d; }
	#colors-adaptive p:nth-child(54):after {
		content: "primary-analogous3-500"; }

#colors-adaptive p:nth-child(55) {
	background-color: #41baae;
	color: #020a0d; }
	#colors-adaptive p:nth-child(55):after {
		content: "primary-analogous3-600"; }

#colors-adaptive p:nth-child(56) {
	background-color: #2d8179;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(56):after {
		content: "primary-analogous3-700"; }

#colors-adaptive p:nth-child(57) {
	background-color: #f3f6fb;
	color: #020a0d; }
	#colors-adaptive p:nth-child(57):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(57):after {
		text-align: center;
		content: "primary-analogous4-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(58) {
	background-color: #ecf0f8;
	color: #020a0d; }
	#colors-adaptive p:nth-child(58):after {
		content: "primary-analogous4-200"; }

#colors-adaptive p:nth-child(59) {
	background-color: #e8edf7;
	color: #020a0d; }
	#colors-adaptive p:nth-child(59):after {
		content: "primary-analogous4-300"; }

#colors-adaptive p:nth-child(60) {
	background-color: #b0c2e3;
	color: #020a0d; }
	#colors-adaptive p:nth-child(60):after {
		content: "primary-analogous4-400"; }

#colors-adaptive p:nth-child(61) {
	background-color: #7796d0;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(61):after {
		content: "primary-analogous4-500"; }

#colors-adaptive p:nth-child(62) {
	background-color: #416bba;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(62):after {
		content: "primary-analogous4-600"; }

#colors-adaptive p:nth-child(63) {
	background-color: #2d4b81;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(63):after {
		content: "primary-analogous4-700"; }

#colors-adaptive p:nth-child(64) {
	background-color: #fbf3f8;
	color: #020a0d; }
	#colors-adaptive p:nth-child(64):before {
		text-align: center;
		content: "FROM HARMONY FUNCTION";
		position: relative;
		display: block;
		width: 100%;
		font-weight: bold;
		margin-bottom: 0.25rem; }
	#colors-adaptive p:nth-child(64):after {
		text-align: center;
		content: "complement-100";
		display: block;
		width: 100%;
		position: relative; }

#colors-adaptive p:nth-child(65) {
	background-color: #faeff5;
	color: #020a0d; }
	#colors-adaptive p:nth-child(65):after {
		content: "complement-200"; }

#colors-adaptive p:nth-child(66) {
	background-color: #f8ecf3;
	color: #020a0d; }
	#colors-adaptive p:nth-child(66):after {
		content: "complement-300"; }

#colors-adaptive p:nth-child(67) {
	background-color: #f7e8f1;
	color: #020a0d; }
	#colors-adaptive p:nth-child(67):after {
		content: "complement-400"; }

#colors-adaptive p:nth-child(68) {
	background-color: #e3b0cf;
	color: #020a0d; }
	#colors-adaptive p:nth-child(68):after {
		content: "complement-500"; }

#colors-adaptive p:nth-child(69) {
	background-color: #d077ac;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(69):after {
		content: "complement-600"; }

#colors-adaptive p:nth-child(70) {
	background-color: #ba4189;
	color: #f5fbfd; }
	#colors-adaptive p:nth-child(70):after {
		content: "complement-700"; }

#colors-static p:nth-child(1) {
	background-color: #ddf3e6;
	color: #030e12; }
	#colors-static p:nth-child(1):after {
		content: "primary-50 ( #ddf3e6 )"; }

#colors-static p:nth-child(2) {
	background-color: #ceeedb;
	color: #030e12; }
	#colors-static p:nth-child(2):after {
		content: "primary-100 ( #ceeedb )"; }

#colors-static p:nth-child(3) {
	background-color: #b7e6ca;
	color: #030e12; }
	#colors-static p:nth-child(3):after {
		content: "primary-200 ( #b7e6ca )"; }

#colors-static p:nth-child(4) {
	background-color: #8ad6a8;
	color: #030e12; }
	#colors-static p:nth-child(4):after {
		content: "primary-300 ( #8ad6a8 )"; }

#colors-static p:nth-child(5) {
	background-color: #5cc687;
	color: #030e12; }
	#colors-static p:nth-child(5):after {
		content: "primary-400 ( #5cc687 )"; }

#colors-static p:nth-child(6) {
	background-color: #3baa68;
	color: #f4fafd; }
	#colors-static p:nth-child(6):after {
		content: "primary-500 ( #3baa68 )"; }

#colors-static p:nth-child(7) {
	background-color: #297547;
	color: #f4fafd; }
	#colors-static p:nth-child(7):after {
		content: "primary-600 ( #297547 )"; }

#colors-static p:nth-child(8) {
	background-color: #1c4f30;
	color: #f4fafd; }
	#colors-static p:nth-child(8):after {
		content: "primary-700 ( #1c4f30 )"; }

#colors-static p:nth-child(9) {
	background-color: #0e2a19;
	color: #f4fafd; }
	#colors-static p:nth-child(9):after {
		content: "primary-800 ( #0e2a19 )"; }

#colors-static p:nth-child(10) {
	background-color: #07130c;
	color: #f4fafd; }
	#colors-static p:nth-child(10):after {
		content: "primary-900 ( #07130c )"; }

#colors-static p:nth-child(11) {
	background-color: #e6eae9;
	color: #030e12; }
	#colors-static p:nth-child(11):after {
		content: "secondary-50 ( #e6eae9 )"; }

#colors-static p:nth-child(12) {
	background-color: #dbe1df;
	color: #030e12; }
	#colors-static p:nth-child(12):after {
		content: "secondary-100 ( #dbe1df )"; }

#colors-static p:nth-child(13) {
	background-color: #cad3d1;
	color: #030e12; }
	#colors-static p:nth-child(13):after {
		content: "secondary-200 ( #cad3d1 )"; }

#colors-static p:nth-child(14) {
	background-color: #a8b8b3;
	color: #030e12; }
	#colors-static p:nth-child(14):after {
		content: "secondary-300 ( #a8b8b3 )"; }

#colors-static p:nth-child(15) {
	background-color: #879c96;
	color: #f4fafd; }
	#colors-static p:nth-child(15):after {
		content: "secondary-400 ( #879c96 )"; }

#colors-static p:nth-child(16) {
	background-color: #687e77;
	color: #f4fafd; }
	#colors-static p:nth-child(16):after {
		content: "secondary-500 ( #687e77 )"; }

#colors-static p:nth-child(17) {
	background-color: #475752;
	color: #f4fafd; }
	#colors-static p:nth-child(17):after {
		content: "secondary-600 ( #475752 )"; }

#colors-static p:nth-child(18) {
	background-color: #303b38;
	color: #f4fafd; }
	#colors-static p:nth-child(18):after {
		content: "secondary-700 ( #303b38 )"; }

#colors-static p:nth-child(19) {
	background-color: #191f1d;
	color: #f4fafd; }
	#colors-static p:nth-child(19):after {
		content: "secondary-800 ( #191f1d )"; }

#colors-static p:nth-child(20) {
	background-color: #0c0e0d;
	color: #f4fafd; }
	#colors-static p:nth-child(20):after {
		content: "secondary-900 ( #0c0e0d )"; }

#colors-static p:nth-child(21) {
	background-color: #e8e6ea;
	color: #030e12; }
	#colors-static p:nth-child(21):after {
		content: "tertiary-50 ( #e8e6ea )"; }

#colors-static p:nth-child(22) {
	background-color: #dedbe1;
	color: #030e12; }
	#colors-static p:nth-child(22):after {
		content: "tertiary-100 ( #dedbe1 )"; }

#colors-static p:nth-child(23) {
	background-color: #cfcad3;
	color: #030e12; }
	#colors-static p:nth-child(23):after {
		content: "tertiary-200 ( #cfcad3 )"; }

#colors-static p:nth-child(24) {
	background-color: #b1a9b7;
	color: #030e12; }
	#colors-static p:nth-child(24):after {
		content: "tertiary-300 ( #b1a9b7 )"; }

#colors-static p:nth-child(25) {
	background-color: #93889b;
	color: #f4fafd; }
	#colors-static p:nth-child(25):after {
		content: "tertiary-400 ( #93889b )"; }

#colors-static p:nth-child(26) {
	background-color: #74697c;
	color: #f4fafd; }
	#colors-static p:nth-child(26):after {
		content: "tertiary-500 ( #74697c )"; }

#colors-static p:nth-child(27) {
	background-color: #504856;
	color: #f4fafd; }
	#colors-static p:nth-child(27):after {
		content: "tertiary-600 ( #504856 )"; }

#colors-static p:nth-child(28) {
	background-color: #36313a;
	color: #f4fafd; }
	#colors-static p:nth-child(28):after {
		content: "tertiary-700 ( #36313a )"; }

#colors-static p:nth-child(29) {
	background-color: #1c1a1e;
	color: #f4fafd; }
	#colors-static p:nth-child(29):after {
		content: "tertiary-800 ( #1c1a1e )"; }

#colors-static p:nth-child(30) {
	background-color: #0d0c0e;
	color: #f4fafd; }
	#colors-static p:nth-child(30):after {
		content: "tertiary-900 ( #0d0c0e )"; }

#colors-static p:nth-child(31) {
	background-color: #f2def0;
	color: #030e12; }
	#colors-static p:nth-child(31):after {
		content: "accent-50 ( #f2def0 )"; }

#colors-static p:nth-child(32) {
	background-color: #edcfe9;
	color: #030e12; }
	#colors-static p:nth-child(32):after {
		content: "accent-100 ( #edcfe9 )"; }

#colors-static p:nth-child(33) {
	background-color: #e4b9df;
	color: #030e12; }
	#colors-static p:nth-child(33):after {
		content: "accent-200 ( #e4b9df )"; }

#colors-static p:nth-child(34) {
	background-color: #d48ccb;
	color: #030e12; }
	#colors-static p:nth-child(34):after {
		content: "accent-300 ( #d48ccb )"; }

#colors-static p:nth-child(35) {
	background-color: #c360b7;
	color: #f4fafd; }
	#colors-static p:nth-child(35):after {
		content: "accent-400 ( #c360b7 )"; }

#colors-static p:nth-child(36) {
	background-color: #a73f9a;
	color: #f4fafd; }
	#colors-static p:nth-child(36):after {
		content: "accent-500 ( #a73f9a )"; }

#colors-static p:nth-child(37) {
	background-color: #732b6a;
	color: #f4fafd; }
	#colors-static p:nth-child(37):after {
		content: "accent-600 ( #732b6a )"; }

#colors-static p:nth-child(38) {
	background-color: #4e1d48;
	color: #f4fafd; }
	#colors-static p:nth-child(38):after {
		content: "accent-700 ( #4e1d48 )"; }

#colors-static p:nth-child(39) {
	background-color: #290f26;
	color: #f4fafd; }
	#colors-static p:nth-child(39):after {
		content: "accent-800 ( #290f26 )"; }

#colors-static p:nth-child(40) {
	background-color: #130711;
	color: #f4fafd; }
	#colors-static p:nth-child(40):after {
		content: "accent-900 ( #130711 )"; }

#colors-static p:nth-child(41) {
	background-color: #d8eef8;
	color: #030e12; }
	#colors-static p:nth-child(41):after {
		content: "neutral-50 ( #d8eef8 )"; }

#colors-static p:nth-child(42) {
	background-color: #c6e7f6;
	color: #030e12; }
	#colors-static p:nth-child(42):after {
		content: "neutral-100 ( #c6e7f6 )"; }

#colors-static p:nth-child(43) {
	background-color: #acdcf1;
	color: #030e12; }
	#colors-static p:nth-child(43):after {
		content: "neutral-200 ( #acdcf1 )"; }

#colors-static p:nth-child(44) {
	background-color: #77c6e8;
	color: #030e12; }
	#colors-static p:nth-child(44):after {
		content: "neutral-300 ( #77c6e8 )"; }

#colors-static p:nth-child(45) {
	background-color: #43afe0;
	color: #030e12; }
	#colors-static p:nth-child(45):after {
		content: "neutral-400 ( #43afe0 )"; }

#colors-static p:nth-child(46) {
	background-color: #2192c5;
	color: #f4fafd; }
	#colors-static p:nth-child(46):after {
		content: "neutral-500 ( #2192c5 )"; }

#colors-static p:nth-child(47) {
	background-color: #176588;
	color: #f4fafd; }
	#colors-static p:nth-child(47):after {
		content: "neutral-600 ( #176588 )"; }

#colors-static p:nth-child(48) {
	background-color: #0f445c;
	color: #f4fafd; }
	#colors-static p:nth-child(48):after {
		content: "neutral-700 ( #0f445c )"; }

#colors-static p:nth-child(49) {
	background-color: #082430;
	color: #f4fafd; }
	#colors-static p:nth-child(49):after {
		content: "neutral-800 ( #082430 )"; }

#colors-static p:nth-child(50) {
	background-color: #041016;
	color: #f4fafd; }
	#colors-static p:nth-child(50):after {
		content: "neutral-900 ( #041016 )"; }

#colors-static p:nth-child(51) {
	background-color: #f0f3dd;
	color: #030e12; }
	#colors-static p:nth-child(51):after {
		content: "primary-analogous1-50 ( #f0f3dd )"; }

#colors-static p:nth-child(52) {
	background-color: #e9eece;
	color: #030e12; }
	#colors-static p:nth-child(52):after {
		content: "primary-analogous1-100 ( #e9eece )"; }

#colors-static p:nth-child(53) {
	background-color: #dfe6b7;
	color: #030e12; }
	#colors-static p:nth-child(53):after {
		content: "primary-analogous1-200 ( #dfe6b7 )"; }

#colors-static p:nth-child(54) {
	background-color: #cbd68a;
	color: #030e12; }
	#colors-static p:nth-child(54):after {
		content: "primary-analogous1-300 ( #cbd68a )"; }

#colors-static p:nth-child(55) {
	background-color: #b6c65c;
	color: #030e12; }
	#colors-static p:nth-child(55):after {
		content: "primary-analogous1-400 ( #b6c65c )"; }

#colors-static p:nth-child(56) {
	background-color: #9aaa3b;
	color: #f4fafd; }
	#colors-static p:nth-child(56):after {
		content: "primary-analogous1-500 ( #9aaa3b )"; }

#colors-static p:nth-child(57) {
	background-color: #6a7529;
	color: #f4fafd; }
	#colors-static p:nth-child(57):after {
		content: "primary-analogous1-600 ( #6a7529 )"; }

#colors-static p:nth-child(58) {
	background-color: #484f1c;
	color: #f4fafd; }
	#colors-static p:nth-child(58):after {
		content: "primary-analogous1-700 ( #484f1c )"; }

#colors-static p:nth-child(59) {
	background-color: #262a0e;
	color: #f4fafd; }
	#colors-static p:nth-child(59):after {
		content: "primary-analogous1-800 ( #262a0e )"; }

#colors-static p:nth-child(60) {
	background-color: #111307;
	color: #f4fafd; }
	#colors-static p:nth-child(60):after {
		content: "primary-analogous1-900 ( #111307 )"; }

#colors-static p:nth-child(61) {
	background-color: #dff3dd;
	color: #030e12; }
	#colors-static p:nth-child(61):after {
		content: "primary-analogous2-50 ( #dff3dd )"; }

#colors-static p:nth-child(62) {
	background-color: #d1eece;
	color: #030e12; }
	#colors-static p:nth-child(62):after {
		content: "primary-analogous2-100 ( #d1eece )"; }

#colors-static p:nth-child(63) {
	background-color: #bce6b7;
	color: #030e12; }
	#colors-static p:nth-child(63):after {
		content: "primary-analogous2-200 ( #bce6b7 )"; }

#colors-static p:nth-child(64) {
	background-color: #91d68a;
	color: #030e12; }
	#colors-static p:nth-child(64):after {
		content: "primary-analogous2-300 ( #91d68a )"; }

#colors-static p:nth-child(65) {
	background-color: #67c65c;
	color: #030e12; }
	#colors-static p:nth-child(65):after {
		content: "primary-analogous2-400 ( #67c65c )"; }

#colors-static p:nth-child(66) {
	background-color: #46aa3b;
	color: #f4fafd; }
	#colors-static p:nth-child(66):after {
		content: "primary-analogous2-500 ( #46aa3b )"; }

#colors-static p:nth-child(67) {
	background-color: #307529;
	color: #f4fafd; }
	#colors-static p:nth-child(67):after {
		content: "primary-analogous2-600 ( #307529 )"; }

#colors-static p:nth-child(68) {
	background-color: #214f1c;
	color: #f4fafd; }
	#colors-static p:nth-child(68):after {
		content: "primary-analogous2-700 ( #214f1c )"; }

#colors-static p:nth-child(69) {
	background-color: #112a0e;
	color: #f4fafd; }
	#colors-static p:nth-child(69):after {
		content: "primary-analogous2-800 ( #112a0e )"; }

#colors-static p:nth-child(70) {
	background-color: #081307;
	color: #f4fafd; }
	#colors-static p:nth-child(70):after {
		content: "primary-analogous2-900 ( #081307 )"; }

#colors-static p:nth-child(71) {
	background-color: #ddf3f1;
	color: #030e12; }
	#colors-static p:nth-child(71):after {
		content: "primary-analogous3-50 ( #ddf3f1 )"; }

#colors-static p:nth-child(72) {
	background-color: #ceeeeb;
	color: #030e12; }
	#colors-static p:nth-child(72):after {
		content: "primary-analogous3-100 ( #ceeeeb )"; }

#colors-static p:nth-child(73) {
	background-color: #b7e6e1;
	color: #030e12; }
	#colors-static p:nth-child(73):after {
		content: "primary-analogous3-200 ( #b7e6e1 )"; }

#colors-static p:nth-child(74) {
	background-color: #8ad6cf;
	color: #030e12; }
	#colors-static p:nth-child(74):after {
		content: "primary-analogous3-300 ( #8ad6cf )"; }

#colors-static p:nth-child(75) {
	background-color: #5cc6bc;
	color: #030e12; }
	#colors-static p:nth-child(75):after {
		content: "primary-analogous3-400 ( #5cc6bc )"; }

#colors-static p:nth-child(76) {
	background-color: #3baa9f;
	color: #f4fafd; }
	#colors-static p:nth-child(76):after {
		content: "primary-analogous3-500 ( #3baa9f )"; }

#colors-static p:nth-child(77) {
	background-color: #29756e;
	color: #f4fafd; }
	#colors-static p:nth-child(77):after {
		content: "primary-analogous3-600 ( #29756e )"; }

#colors-static p:nth-child(78) {
	background-color: #1c4f4a;
	color: #f4fafd; }
	#colors-static p:nth-child(78):after {
		content: "primary-analogous3-700 ( #1c4f4a )"; }

#colors-static p:nth-child(79) {
	background-color: #0e2a27;
	color: #f4fafd; }
	#colors-static p:nth-child(79):after {
		content: "primary-analogous3-800 ( #0e2a27 )"; }

#colors-static p:nth-child(80) {
	background-color: #071312;
	color: #f4fafd; }
	#colors-static p:nth-child(80):after {
		content: "primary-analogous3-900 ( #071312 )"; }

#colors-static p:nth-child(81) {
	background-color: #dde5f3;
	color: #030e12; }
	#colors-static p:nth-child(81):after {
		content: "primary-analogous4-50 ( #dde5f3 )"; }

#colors-static p:nth-child(82) {
	background-color: #ced9ee;
	color: #030e12; }
	#colors-static p:nth-child(82):after {
		content: "primary-analogous4-100 ( #ced9ee )"; }

#colors-static p:nth-child(83) {
	background-color: #b7c8e6;
	color: #030e12; }
	#colors-static p:nth-child(83):after {
		content: "primary-analogous4-200 ( #b7c8e6 )"; }

#colors-static p:nth-child(84) {
	background-color: #8aa4d6;
	color: #030e12; }
	#colors-static p:nth-child(84):after {
		content: "primary-analogous4-300 ( #8aa4d6 )"; }

#colors-static p:nth-child(85) {
	background-color: #5c81c6;
	color: #f4fafd; }
	#colors-static p:nth-child(85):after {
		content: "primary-analogous4-400 ( #5c81c6 )"; }

#colors-static p:nth-child(86) {
	background-color: #3b62aa;
	color: #f4fafd; }
	#colors-static p:nth-child(86):after {
		content: "primary-analogous4-500 ( #3b62aa )"; }

#colors-static p:nth-child(87) {
	background-color: #294475;
	color: #f4fafd; }
	#colors-static p:nth-child(87):after {
		content: "primary-analogous4-600 ( #294475 )"; }

#colors-static p:nth-child(88) {
	background-color: #1c2e4f;
	color: #f4fafd; }
	#colors-static p:nth-child(88):after {
		content: "primary-analogous4-700 ( #1c2e4f )"; }

#colors-static p:nth-child(89) {
	background-color: #0e182a;
	color: #f4fafd; }
	#colors-static p:nth-child(89):after {
		content: "primary-analogous4-800 ( #0e182a )"; }

#colors-static p:nth-child(90) {
	background-color: #070b13;
	color: #f4fafd; }
	#colors-static p:nth-child(90):after {
		content: "primary-analogous4-900 ( #070b13 )"; }

#colors-static p:nth-child(91) {
	background-color: #f3ddea;
	color: #030e12; }
	#colors-static p:nth-child(91):after {
		content: "complement-50 ( #f3ddea )"; }

#colors-static p:nth-child(92) {
	background-color: #eecee1;
	color: #030e12; }
	#colors-static p:nth-child(92):after {
		content: "complement-100 ( #eecee1 )"; }

#colors-static p:nth-child(93) {
	background-color: #e6b7d3;
	color: #030e12; }
	#colors-static p:nth-child(93):after {
		content: "complement-200 ( #e6b7d3 )"; }

#colors-static p:nth-child(94) {
	background-color: #d68ab8;
	color: #f4fafd; }
	#colors-static p:nth-child(94):after {
		content: "complement-300 ( #d68ab8 )"; }

#colors-static p:nth-child(95) {
	background-color: #c65c9c;
	color: #f4fafd; }
	#colors-static p:nth-child(95):after {
		content: "complement-400 ( #c65c9c )"; }

#colors-static p:nth-child(96) {
	background-color: #aa3b7e;
	color: #f4fafd; }
	#colors-static p:nth-child(96):after {
		content: "complement-500 ( #aa3b7e )"; }

#colors-static p:nth-child(97) {
	background-color: #752957;
	color: #f4fafd; }
	#colors-static p:nth-child(97):after {
		content: "complement-600 ( #752957 )"; }

#colors-static p:nth-child(98) {
	background-color: #4f1c3b;
	color: #f4fafd; }
	#colors-static p:nth-child(98):after {
		content: "complement-700 ( #4f1c3b )"; }

#colors-static p:nth-child(99) {
	background-color: #2a0e1f;
	color: #f4fafd; }
	#colors-static p:nth-child(99):after {
		content: "complement-800 ( #2a0e1f )"; }

#colors-static p:nth-child(100) {
	background-color: #13070e;
	color: #f4fafd; }
	#colors-static p:nth-child(100):after {
		content: "complement-900 ( #13070e )"; }

#analogous-400 p, #compound-400 p, #tetrad-400 p, #quadratic-400 p, #triad-400 p, #split-400 p {
	padding: 0;
	margin: 0;
	min-height: 3rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }
	#analogous-400 p:after, #compound-400 p:after, #tetrad-400 p:after, #quadratic-400 p:after, #triad-400 p:after, #split-400 p:after {
		line-height: 1rem;
		font-size: 1rem; }

#analogous-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#analogous-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#analogous-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#analogous-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#analogous-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#analogous-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#analogous-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#analogous-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#analogous-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#analogous-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#analogous-400 p:nth-child(6) {
	background-color: #9aaa3b;
	color: #f4fafd; }

#analogous-400 p:nth-child(6):after {
	content: "primary-analogous1-400 ( #9aaa3b )"; }

#analogous-400 p:nth-child(7) {
	background-color: #46aa3b;
	color: #f4fafd; }

#analogous-400 p:nth-child(7):after {
	content: "primary-analogous2-400 ( #46aa3b )"; }

#analogous-400 p:nth-child(8) {
	background-color: #3baa9f;
	color: #f4fafd; }

#analogous-400 p:nth-child(8):after {
	content: "primary-analogous3-400 ( #3baa9f )"; }

#analogous-400 p:nth-child(9) {
	background-color: #3b62aa;
	color: #f4fafd; }

#analogous-400 p:nth-child(9):after {
	content: "primary-analogous4-400 ( #3b62aa )"; }

#analogous-400 p:nth-child(10) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#analogous-400 p:nth-child(10):after {
	content: "complement-400 ( #aa3b7e )"; }

#compound-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#compound-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#compound-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#compound-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#compound-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#compound-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#compound-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#compound-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#compound-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#compound-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#compound-400 p:nth-child(6) {
	background-color: #0dd8d5;
	color: #010304; }

#compound-400 p:nth-child(6):after {
	content: "primary-compound1-400 ( #0dd8d5 )"; }

#compound-400 p:nth-child(7) {
	background-color: #30b6b4;
	color: #010304; }

#compound-400 p:nth-child(7):after {
	content: "primary-compound2-400 ( #30b6b4 )"; }

#compound-400 p:nth-child(8) {
	background-color: #8e586b;
	color: #f4fafd; }

#compound-400 p:nth-child(8):after {
	content: "primary-compound3-400 ( #8e586b )"; }

#compound-400 p:nth-child(9) {
	background-color: #b6305f;
	color: #f4fafd; }

#compound-400 p:nth-child(9):after {
	content: "primary-compound4-400 ( #b6305f )"; }

#compound-400 p:nth-child(10) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#compound-400 p:nth-child(10):after {
	content: "complement-400 ( #aa3b7e )"; }

#tetrad-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#tetrad-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#tetrad-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#tetrad-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#tetrad-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#tetrad-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#tetrad-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#tetrad-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#tetrad-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#tetrad-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#tetrad-400 p:nth-child(6) {
	background-color: #3b7eaa;
	color: #f4fafd; }

#tetrad-400 p:nth-child(6):after {
	content: "primary-tetrad1-400 ( #3b7eaa )"; }

#tetrad-400 p:nth-child(7) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#tetrad-400 p:nth-child(7):after {
	content: "primary-tetrad2-400 ( #aa3b7e )"; }

#tetrad-400 p:nth-child(8) {
	background-color: #aa683b;
	color: #f4fafd; }

#tetrad-400 p:nth-child(8):after {
	content: "primary-tetrad3-400 ( #aa683b )"; }

#quadratic-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#quadratic-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#quadratic-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#quadratic-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#quadratic-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#quadratic-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#quadratic-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#quadratic-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#quadratic-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#quadratic-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#quadratic-400 p:nth-child(6) {
	background-color: #3b46aa;
	color: #f4fafd; }

#quadratic-400 p:nth-child(6):after {
	content: "primary-tetrad1-400 ( #3b46aa )"; }

#quadratic-400 p:nth-child(7) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#quadratic-400 p:nth-child(7):after {
	content: "primary-tetrad2-400 ( #aa3b7e )"; }

#quadratic-400 p:nth-child(8) {
	background-color: #aa9f3b;
	color: #f4fafd; }

#quadratic-400 p:nth-child(8):after {
	content: "primary-tetrad3-400 ( #aa9f3b )"; }

#triad-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#triad-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#triad-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#triad-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#triad-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#triad-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#triad-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#triad-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#triad-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#triad-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#triad-400 p:nth-child(6) {
	background-color: #683baa;
	color: #f4fafd; }

#triad-400 p:nth-child(6):after {
	content: "primary-triad1-400 ( #683baa )"; }

#triad-400 p:nth-child(7) {
	background-color: #aa683b;
	color: #f4fafd; }

#triad-400 p:nth-child(7):after {
	content: "primary-triad2-400 ( #aa683b )"; }

#triad-400 p:nth-child(8) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#triad-400 p:nth-child(8):after {
	content: "complement-400 ( #aa3b7e )"; }

#split-400 p:nth-child(1) {
	background-color: #3baa68;
	color: #f4fafd; }

#split-400 p:nth-child(1):after {
	content: "primary-400 ( #3baa68 )"; }

#split-400 p:nth-child(2) {
	background-color: #687e77;
	color: #f4fafd; }

#split-400 p:nth-child(2):after {
	content: "secondary-400 ( #687e77 )"; }

#split-400 p:nth-child(3) {
	background-color: #74697c;
	color: #f4fafd; }

#split-400 p:nth-child(3):after {
	content: "tertiary-400 ( #74697c )"; }

#split-400 p:nth-child(4) {
	background-color: #a73f9a;
	color: #f4fafd; }

#split-400 p:nth-child(4):after {
	content: "accent-400 ( #a73f9a )"; }

#split-400 p:nth-child(5) {
	background-color: #2192c5;
	color: #f4fafd; }

#split-400 p:nth-child(5):after {
	content: "neutral-400 ( #2192c5 )"; }

#split-400 p:nth-child(6) {
	background-color: #9f3baa;
	color: #f4fafd; }

#split-400 p:nth-child(6):after {
	content: "primary-split1-400 ( #9f3baa )"; }

#split-400 p:nth-child(7) {
	background-color: #aa3b46;
	color: #f4fafd; }

#split-400 p:nth-child(7):after {
	content: "primary-split2-400 ( #aa3b46 )"; }

#split-400 p:nth-child(8) {
	background-color: #aa3b7e;
	color: #f4fafd; }

#split-400 p:nth-child(8):after {
	content: "complement-400 ( #aa3b7e )"; }
