/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,900|Assistant:400,700");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* ====================================
		== BASE FRAMEWORK == 
		GLOBAL
 * ==================================== */
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html *, html *:before, html *:after, body *, body *:before, body *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%; }

/* NAV, GENERAL */
.card {
  margin: 1.5rem !important; }

/* ====================================
		GRID: PLACEHOLDERS
 * ==================================== */
/* ====================================
		COMPONENT: HR
 * ==================================== */
.hr {
  border: 0;
  outline: 0;
  width: 95%;
  height: 3px; }

.hr-xs {
  height: 1px; }

.hr-sm {
  height: 2px; }

.hr-md {
  height: 3px; }

.hr-lg {
  height: 5px; }

.hr-xl {
  height: 7px; }

.hr-primary-100 {
  background-color: #f5e7d4; }

.hr-primary-200 {
  background-color: #f2e1c9; }

.hr-primary-300 {
  background-color: #f0dabd; }

.hr-primary-400 {
  background-color: #EDD4B2; }

.hr-primary-500 {
  background-color: #e1b880; }

.hr-primary-600 {
  background-color: #d69c4f; }

.hr-primary-700 {
  background-color: #bb7e2c; }

.hr-secondary-100 {
  background-color: #c5e3ea; }

.hr-secondary-200 {
  background-color: #a5d3de; }

.hr-secondary-300 {
  background-color: #84c4d1; }

.hr-secondary-400 {
  background-color: #63b4c5; }

.hr-secondary-500 {
  background-color: #44a3b8; }

.hr-secondary-600 {
  background-color: #388697; }

.hr-secondary-700 {
  background-color: #307281; }

.hr-tertiary-100 {
  background-color: #e9e4e8; }

.hr-tertiary-200 {
  background-color: #d4c8d1; }

.hr-tertiary-300 {
  background-color: #bba9b7; }

.hr-tertiary-400 {
  background-color: #a38a9d; }

.hr-tertiary-500 {
  background-color: #896c82; }

.hr-tertiary-600 {
  background-color: #6a5364; }

.hr-tertiary-700 {
  background-color: #4B3B47; }

.hr-accent-100 {
  background-color: #fdccac; }

.hr-accent-200 {
  background-color: #fcba8e; }

.hr-accent-300 {
  background-color: #fba870; }

.hr-accent-400 {
  background-color: #fb9552; }

.hr-accent-500 {
  background-color: #FA8334; }

.hr-accent-600 {
  background-color: #f96808; }

.hr-accent-700 {
  background-color: #d05605; }

.hr-neutral-100 {
  background-color: #e3e5de; }

.hr-neutral-200 {
  background-color: #c7cbbd; }

.hr-neutral-300 {
  background-color: #a7ae97; }

.hr-neutral-400 {
  background-color: #889072; }

.hr-neutral-500 {
  background-color: #656b54; }

.hr-neutral-600 {
  background-color: #414636; }

.hr-neutral-700 {
  background-color: #1E2019; }

.hr-primary-analogous1-100 {
  background-color: #f5d4e2; }

.hr-primary-analogous1-200 {
  background-color: #f2c9da; }

.hr-primary-analogous1-300 {
  background-color: #f0bdd3; }

.hr-primary-analogous1-400 {
  background-color: #edb2cb; }

.hr-primary-analogous1-500 {
  background-color: #e180a9; }

.hr-primary-analogous1-600 {
  background-color: #d64f88; }

.hr-primary-analogous1-700 {
  background-color: #bb2c68; }

.hr-primary-analogous2-100 {
  background-color: #f5d7d4; }

.hr-primary-analogous2-200 {
  background-color: #f2ccc9; }

.hr-primary-analogous2-300 {
  background-color: #f0c1bd; }

.hr-primary-analogous2-400 {
  background-color: #edb7b2; }

.hr-primary-analogous2-500 {
  background-color: #e18880; }

.hr-primary-analogous2-600 {
  background-color: #d6594f; }

.hr-primary-analogous2-700 {
  background-color: #bb372c; }

.hr-primary-analogous3-100 {
  background-color: #f2f5d4; }

.hr-primary-analogous3-200 {
  background-color: #ecf0bd; }

.hr-primary-analogous3-300 {
  background-color: #e9edb2; }

.hr-primary-analogous3-400 {
  background-color: #dae180; }

.hr-primary-analogous3-500 {
  background-color: #cbd64f; }

.hr-primary-analogous3-600 {
  background-color: #b0bb2c; }

.hr-primary-analogous3-700 {
  background-color: #818920; }

.hr-primary-analogous4-100 {
  background-color: #e2f5d4; }

.hr-primary-analogous4-200 {
  background-color: #d3f0bd; }

.hr-primary-analogous4-300 {
  background-color: #cbedb2; }

.hr-primary-analogous4-400 {
  background-color: #a9e180; }

.hr-primary-analogous4-500 {
  background-color: #88d64f; }

.hr-primary-analogous4-600 {
  background-color: #68bb2c; }

.hr-primary-analogous4-700 {
  background-color: #4d8920; }

/* ====================================
		COMPONENT: BUTTON
 * ==================================== */
.btn {
  background-color: #333;
  color: white;
  border-radius: 0.15rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0.75rem; }
  .btn-default {
    background-color: #5D576B;
    color: #f9faf8; }
    .btn-default:hover {
      background-color: #a39eb0;
      color: #f9faf8; }
  .btn-info {
    background-color: #1d7d6e;
    color: #f9faf8; }
    .btn-info:hover {
      background-color: #41D3BD;
      color: #060605; }
  .btn-success {
    background-color: #50a22c;
    color: #f9faf8; }
    .btn-success:hover {
      background-color: #A9E190;
      color: #060605; }
  .btn-alert {
    background-color: #615c10;
    color: #f9faf8; }
    .btn-alert:hover {
      background-color: #e2da4d;
      color: #060605; }
  .btn-warn {
    background-color: #e8432e;
    color: #f9faf8; }
    .btn-warn:hover {
      background-color: #f2968b;
      color: #060605; }

.btn-xs {
  font-size: 0.5rem;
  padding: 1rem 2rem; }

.btn-sm {
  font-size: 0.8rem;
  padding: 1.6rem 3.2rem; }

.btn-md {
  font-size: 1rem;
  padding: 2rem 4rem; }

.btn-lg {
  font-size: 1.3rem;
  padding: 2.6rem 5.2rem; }

.btn-xl {
  font-size: 2rem;
  padding: 4rem 8rem; }

/* ====================================
		COMPONENT: CARD
		card, block, hero
 * ==================================== */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #e8e9e3;
  border-radius: 0.15rem;
  border: 1px solid #c7cbbd; }

.hero {
  background-color: #e3e5de;
  border-radius: 0.15rem;
  border: 1px solid #889072;
  color: #060605;
  margin: 2rem;
  padding: 1rem; }

/* ====================================
		COMPONENT: IMAGE
 * ==================================== */
img {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

/* ====================================
		COMPONENT: INLINE
		code, samp
		ruby
		pre
 * ==================================== */
/* ====================================
		COMPONENT: INPUT
		label, keygen, legend;
		text, email, password, url, tel,
		number, color, file, image;
		datetime-local, month, date, time, week;
		textarea, select, checkbox, radio;
		datalist, meter, progress, range;
		reset; search
		submit
 * ==================================== */
/* ====================================
		COMPONENT: INPUT: text, textarea,
		email, password, tel, number, url
 * ==================================== */
.input, textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  border: 0;
  outline: 0; }
  .input + .input,
  .placeholder + .input, textarea + .input,
  .placeholder + textarea, .input + textarea, textarea + textarea {
    margin-top: 1rem; }

.input {
  border-bottom: 1px solid tomato;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 0.75rem;
  background-color: #eee; }
  .input:active, .input:focus {
    background-color: #fefefe; }
  .input::-webkit-input-placeholder {
    color: tomato;
    opacity: 0.75; }
  .input:-ms-input-placeholder {
    color: tomato;
    opacity: 0.75; }
  .input::-ms-input-placeholder {
    color: tomato;
    opacity: 0.75; }
  .input::placeholder {
    color: tomato;
    opacity: 0.75; }
  .input:placeholder-shown + .placeholder {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); }

.input-textarea {
  padding: 0.5rem;
  border-radius: 0.15rem;
  border: 1px solid tomato;
  background-color: #eee; }
  .input-textarea:active, .input-textarea:focus {
    background-color: #fefefe; }

.placeholder {
  position: absolute;
  top: 0;
  font-size: small;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: -1;
  padding: 0;
  margin: 0 0 0.5rem;
  color: tomato; }

input[type="checkbox"] {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: auto;
  -webkit-appearance: none;
  background-color: #bbb;
  padding: 0.75rem;
  outline: none;
  border-radius: 0.14rem;
  position: relative; }

input[type="checkbox"]:checked {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25); }

input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 2rem;
  position: absolute;
  bottom: -6px;
  left: -1px;
  color: forestgreen; }

/* ====================================
		COMPONENT: LIST
		ul, ol, dl
 * ==================================== */
dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

dt {
  max-width: 10%; }

dt,
dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/* ====================================
		COMPONENT: MEDIA
		video, audio, &c.
 * ==================================== */
/* ====================================
		COMPONENT: MESSAGING
		info/notice, success, error, warn; 'chat'
 * ==================================== */
.msg {
  padding: 0.75rem;
  text-align: center;
  border-radius: 0.15rem; }
  .msg-default {
    border: 1px solid #a39eb0;
    background-color: #eae8ed;
    color: #060605; }
    .msg-default:hover {
      border: 1px solid #5D576B;
      background-color: #a39eb0;
      color: #f9faf8; }
  .msg-info {
    border: 1px solid #41D3BD;
    background-color: #95e7da;
    color: #060605; }
    .msg-info:hover {
      border: 1px solid #1d7d6e;
      background-color: #41D3BD;
      color: #060605; }
  .msg-success {
    border: 1px solid #A9E190;
    background-color: #cfeec1;
    color: #060605; }
    .msg-success:hover {
      border: 1px solid #50a22c;
      background-color: #A9E190;
      color: #060605; }
  .msg-alert {
    border: 1px solid #e2da4d;
    background-color: #f6f3c5;
    color: #060605; }
    .msg-alert:hover {
      border: 1px solid #615c10;
      background-color: #e2da4d;
      color: #060605; }
  .msg-warn {
    border: 1px solid #f2968b;
    background-color: #fad8d4;
    color: #060605; }
    .msg-warn:hover {
      border: 1px solid #e8432e;
      background-color: #f2968b;
      color: #060605; }
  .msg-default {
    border: 1px solid #a39eb0;
    background-color: #eae8ed;
    color: #060605; }
    .msg-default:hover {
      border: 1px solid #5D576B;
      background-color: #a39eb0;
      color: #f9faf8; }
  .msg-info {
    border: 1px solid #41D3BD;
    background-color: #95e7da;
    color: #060605; }
    .msg-info:hover {
      border: 1px solid #1d7d6e;
      background-color: #41D3BD;
      color: #060605; }
  .msg-success {
    border: 1px solid #A9E190;
    background-color: #cfeec1;
    color: #060605; }
    .msg-success:hover {
      border: 1px solid #50a22c;
      background-color: #A9E190;
      color: #060605; }
  .msg-alert {
    border: 1px solid #e2da4d;
    background-color: #f6f3c5;
    color: #060605; }
    .msg-alert:hover {
      border: 1px solid #615c10;
      background-color: #e2da4d;
      color: #060605; }
  .msg-warn {
    border: 1px solid #f2968b;
    background-color: #fad8d4;
    color: #060605; }
    .msg-warn:hover {
      border: 1px solid #e8432e;
      background-color: #f2968b;
      color: #060605; }
  .msg-default {
    border: 1px solid #a39eb0;
    background-color: #eae8ed;
    color: #060605; }
    .msg-default:hover {
      border: 1px solid #5D576B;
      background-color: #a39eb0;
      color: #f9faf8; }
  .msg-info {
    border: 1px solid #41D3BD;
    background-color: #95e7da;
    color: #060605; }
    .msg-info:hover {
      border: 1px solid #1d7d6e;
      background-color: #41D3BD;
      color: #060605; }
  .msg-success {
    border: 1px solid #A9E190;
    background-color: #cfeec1;
    color: #060605; }
    .msg-success:hover {
      border: 1px solid #50a22c;
      background-color: #A9E190;
      color: #060605; }
  .msg-alert {
    border: 1px solid #e2da4d;
    background-color: #f6f3c5;
    color: #060605; }
    .msg-alert:hover {
      border: 1px solid #615c10;
      background-color: #e2da4d;
      color: #060605; }
  .msg-warn {
    border: 1px solid #f2968b;
    background-color: #fad8d4;
    color: #060605; }
    .msg-warn:hover {
      border: 1px solid #e8432e;
      background-color: #f2968b;
      color: #060605; }
  .msg-default {
    border: 1px solid #a39eb0;
    background-color: #eae8ed;
    color: #060605; }
    .msg-default:hover {
      border: 1px solid #5D576B;
      background-color: #a39eb0;
      color: #f9faf8; }
  .msg-info {
    border: 1px solid #41D3BD;
    background-color: #95e7da;
    color: #060605; }
    .msg-info:hover {
      border: 1px solid #1d7d6e;
      background-color: #41D3BD;
      color: #060605; }
  .msg-success {
    border: 1px solid #A9E190;
    background-color: #cfeec1;
    color: #060605; }
    .msg-success:hover {
      border: 1px solid #50a22c;
      background-color: #A9E190;
      color: #060605; }
  .msg-alert {
    border: 1px solid #e2da4d;
    background-color: #f6f3c5;
    color: #060605; }
    .msg-alert:hover {
      border: 1px solid #615c10;
      background-color: #e2da4d;
      color: #060605; }
  .msg-warn {
    border: 1px solid #f2968b;
    background-color: #fad8d4;
    color: #060605; }
    .msg-warn:hover {
      border: 1px solid #e8432e;
      background-color: #f2968b;
      color: #060605; }
  .msg-default {
    border: 1px solid #a39eb0;
    background-color: #eae8ed;
    color: #060605; }
    .msg-default:hover {
      border: 1px solid #5D576B;
      background-color: #a39eb0;
      color: #f9faf8; }
  .msg-info {
    border: 1px solid #41D3BD;
    background-color: #95e7da;
    color: #060605; }
    .msg-info:hover {
      border: 1px solid #1d7d6e;
      background-color: #41D3BD;
      color: #060605; }
  .msg-success {
    border: 1px solid #A9E190;
    background-color: #cfeec1;
    color: #060605; }
    .msg-success:hover {
      border: 1px solid #50a22c;
      background-color: #A9E190;
      color: #060605; }
  .msg-alert {
    border: 1px solid #e2da4d;
    background-color: #f6f3c5;
    color: #060605; }
    .msg-alert:hover {
      border: 1px solid #615c10;
      background-color: #e2da4d;
      color: #060605; }
  .msg-warn {
    border: 1px solid #f2968b;
    background-color: #fad8d4;
    color: #060605; }
    .msg-warn:hover {
      border: 1px solid #e8432e;
      background-color: #f2968b;
      color: #060605; }

/* ====================================
		COMPONENT: TABLE
 * ==================================== */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #d05605;
  outline: 0;
  margin: 0 auto; }
  table thead th {
    background-color: #d05605;
    color: #f9faf8;
    font-size: 125%; }
  table tbody th {
    background-color: #fdccac;
    color: #060605; }
  table tfoot th {
    background-color: #fb9552;
    color: #060605; }
  table th, table td {
    padding: 0.4em; }
  table caption {
    padding: 0.375rem 0.75rem;
    font-style: italic;
    font-size: small;
    text-align: right;
    caption-side: bottom; }

.striped tbody tr:nth-child(2n-1) {
  background-color: #fdccac; }

/* ====================================
		COMPONENT: TABLE: BORDERS
 * ==================================== */
.header-row-borders thead tr + tr, .row-borders thead tr + tr, .header-borders thead tr + tr, .all-borders thead tr + tr {
  border-top: 1px solid #f9faf8; }

.header-column-borders thead th + th, .column-borders thead th + th, .header-borders thead th + th, .all-borders thead th + th,
.header-column-borders thead td + td,
.column-borders thead td + td,
.header-borders thead td + td,
.all-borders thead td + td,
.header-column-borders thead th + td,
.column-borders thead th + td,
.header-borders thead th + td,
.all-borders thead th + td {
  border-left: 1px solid #f9faf8; }

.body-row-borders tbody tr + tr, .row-borders tbody tr + tr, .body-borders tbody tr + tr, .all-borders tbody tr + tr {
  border-top: 1px solid #d05605; }

.body-column-borders tbody th + th, .column-borders tbody th + th, .body-borders tbody th + th, .all-borders tbody th + th,
.body-column-borders tbody td + td,
.column-borders tbody td + td,
.body-borders tbody td + td,
.all-borders tbody td + td,
.body-column-borders tbody th + td,
.column-borders tbody th + td,
.body-borders tbody th + td,
.all-borders tbody th + td {
  border-left: 1px solid #d05605; }

.body-header-border tbody th {
  border-right: 1px solid #d05605; }

.body-header-border tbody th + th {
  border-top: 1px solid #d05605; }

.footer-row-borders tfoot tr + tr, .row-borders tfoot tr + tr, .footer-borders tfoot tr + tr, .all-borders tfoot tr + tr {
  border-top: 1px solid #060605; }

.footer-row-borders tfoot tr:first-child, .row-borders tfoot tr:first-child, .footer-borders tfoot tr:first-child, .all-borders tfoot tr:first-child {
  border-top: 1px solid #d05605; }

.footer-column-borders tfoot th + td, .column-borders tfoot th + td, .footer-borders tfoot th + td, .all-borders tfoot th + td,
.footer-column-borders tfoot td + td,
.column-borders tfoot td + td,
.footer-borders tfoot td + td,
.all-borders tfoot td + td,
.footer-column-borders tfoot th + th,
.column-borders tfoot th + th,
.footer-borders tfoot th + th,
.all-borders tfoot th + th {
  border-left: 1px solid #d05605; }

.footer-header-border tfoot th:first-child {
  border-right: 1px solid #d05605;
  border-top: 1px solid #d05605; }

.footer-header-border tfoot th:last-child {
  border-left: 1px solid #d05605;
  border-top: 1px solid #d05605; }

.footer-header-border tfoot th + th {
  border-right: 1px solid #060605;
  border-top: 1px solid #d05605; }
