/* NAV, GENERAL */
/* ====================================
		GRID: PLACEHOLDERS
 * ==================================== */
/* ====================================
		COMPONENT: HR
 * ==================================== */
.hr {
	border: 0;
	outline: 0;
	width: 95%;
	height: 3px; }

.hr-xs {
	height: 1px; }

.hr-sm {
	height: 2px; }

.hr-md {
	height: 3px; }

.hr-lg {
	height: 5px; }

.hr-xl {
	height: 7px; }

.hr-primary-100 {
	background-color: #fffd94; }

.hr-primary-200 {
	background-color: #FFFD82; }

.hr-primary-300 {
	background-color: #fffc49; }

.hr-primary-400 {
	background-color: #fffb10; }

.hr-primary-500 {
	background-color: #d6d300; }

.hr-primary-600 {
	background-color: #9d9b00; }

.hr-primary-700 {
	background-color: #646300; }

.hr-secondary-100 {
	background-color: #ffd6c5; }

.hr-secondary-200 {
	background-color: #ffc7b0; }

.hr-secondary-300 {
	background-color: #ffb99b; }

.hr-secondary-400 {
	background-color: #ffaa86; }

.hr-secondary-500 {
	background-color: #FF9B71; }

.hr-secondary-600 {
	background-color: #ff753b; }

.hr-secondary-700 {
	background-color: #ff4e04; }

.hr-tertiary-100 {
	background-color: #f9cfd3; }

.hr-tertiary-200 {
	background-color: #f6b4ba; }

.hr-tertiary-300 {
	background-color: #f299a0; }

.hr-tertiary-400 {
	background-color: #ef7e87; }

.hr-tertiary-500 {
	background-color: #eb636e; }

.hr-tertiary-600 {
	background-color: #E84855; }

.hr-tertiary-700 {
	background-color: #e32030; }

.hr-accent-100 {
	background-color: #a9eefd; }

.hr-accent-200 {
	background-color: #78e5fc; }

.hr-accent-300 {
	background-color: #47dbfb; }

.hr-accent-400 {
	background-color: #17d1f9; }

.hr-accent-500 {
	background-color: #05b3d9; }

.hr-accent-600 {
	background-color: #048BA8; }

.hr-accent-700 {
	background-color: #03768f; }

.hr-neutral-100 {
	background-color: #e0e1eb; }

.hr-neutral-200 {
	background-color: #c0c3d7; }

.hr-neutral-300 {
	background-color: #9da1c1; }

.hr-neutral-400 {
	background-color: #797faa; }

.hr-neutral-500 {
	background-color: #5a608e; }

.hr-neutral-600 {
	background-color: #44486b; }

.hr-neutral-700 {
	background-color: #2D3047; }

.hr-primary-analogous1-100 {
	background-color: #ffcccd; }

.hr-primary-analogous1-200 {
	background-color: #ffb9bb; }

.hr-primary-analogous1-300 {
	background-color: #ffa7a8; }

.hr-primary-analogous1-400 {
	background-color: #ff9496; }

.hr-primary-analogous1-500 {
	background-color: #ff8284; }

.hr-primary-analogous1-600 {
	background-color: #ff494c; }

.hr-primary-analogous1-700 {
	background-color: #ff1014; }

.hr-primary-analogous2-100 {
	background-color: #ffdbb9; }

.hr-primary-analogous2-200 {
	background-color: #ffd2a7; }

.hr-primary-analogous2-300 {
	background-color: #ffc894; }

.hr-primary-analogous2-400 {
	background-color: #ffbf82; }

.hr-primary-analogous2-500 {
	background-color: #ffa149; }

.hr-primary-analogous2-600 {
	background-color: #ff8410; }

.hr-primary-analogous2-700 {
	background-color: #d66800; }

.hr-primary-analogous3-100 {
	background-color: #cbff94; }

.hr-primary-analogous3-200 {
	background-color: #c3ff82; }

.hr-primary-analogous3-300 {
	background-color: #a7ff49; }

.hr-primary-analogous3-400 {
	background-color: #8bff10; }

.hr-primary-analogous3-500 {
	background-color: #6fd600; }

.hr-primary-analogous3-600 {
	background-color: #519d00; }

.hr-primary-analogous3-700 {
	background-color: #346400; }

.hr-primary-analogous4-100 {
	background-color: #bbffb9; }

.hr-primary-analogous4-200 {
	background-color: #96ff94; }

.hr-primary-analogous4-300 {
	background-color: #84ff82; }

.hr-primary-analogous4-400 {
	background-color: #4cff49; }

.hr-primary-analogous4-500 {
	background-color: #14ff10; }

.hr-primary-analogous4-600 {
	background-color: #03d600; }

.hr-primary-analogous4-700 {
	background-color: #039d00; }

/* ====================================
		COMPONENT: IMAGE
 * ==================================== */
img {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0; }

/* ====================================
		COMPONENT: INLINE
		code, samp
		ruby
		pre
 * ==================================== */
/* ====================================
		COMPONENT: INPUT
		label, keygen, legend
		text, email, password, date, tel,
		button, color, datetime-local, file,
		image, month, number, range, reset,
		search, submit, time, url, week;
		textarea, select, checkbox, radio;
		datalist, meter, progress
 * ==================================== */
/* ====================================
		COMPONENT: LIST
		ul, ol
 * ==================================== */
/* ====================================
		COMPONENT: MEDIA
		video, audio, &c.
 * ==================================== */
/* ====================================
		COMPONENT: MESSAGING
		info/notice, success, error, warn; 'chat'
 * ==================================== */
/* ====================================
		COMPONENT: TABLE
 * ==================================== */
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #03768f;
	outline: 0;
	margin: 0 auto; }
	table thead th {
		background-color: #03768f;
		color: #f9f9fb;
		font-size: 125%; }
	table tbody th {
		background-color: #a9eefd;
		color: #090a0e; }
	table tfoot th {
		background-color: #17d1f9;
		color: #090a0e; }
	table th, table td {
		padding: 0.4em; }
	table caption {
		padding: 0.375rem 0.75rem;
		font-style: italic;
		font-size: small;
		text-align: right;
		caption-side: bottom; }

.striped tbody tr:nth-child(2n-1) {
	background-color: #a9eefd; }

/* ====================================
		COMPONENT: TABLE: BORDERS
 * ==================================== */
.header-row-borders thead tr + tr, .row-borders thead tr + tr, .header-borders thead tr + tr, .all-borders thead tr + tr {
	border-top: 1px solid #f9f9fb; }

.header-column-borders thead th + th, .column-borders thead th + th, .header-borders thead th + th, .all-borders thead th + th,
.header-column-borders thead td + td,
.column-borders thead td + td,
.header-borders thead td + td,
.all-borders thead td + td,
.header-column-borders thead th + td,
.column-borders thead th + td,
.header-borders thead th + td,
.all-borders thead th + td {
	border-left: 1px solid #f9f9fb; }

.body-row-borders tbody tr + tr, .row-borders tbody tr + tr, .body-borders tbody tr + tr, .all-borders tbody tr + tr {
	border-top: 1px solid #03768f; }

.body-column-borders tbody th + th, .column-borders tbody th + th, .body-borders tbody th + th, .all-borders tbody th + th,
.body-column-borders tbody td + td,
.column-borders tbody td + td,
.body-borders tbody td + td,
.all-borders tbody td + td,
.body-column-borders tbody th + td,
.column-borders tbody th + td,
.body-borders tbody th + td,
.all-borders tbody th + td {
	border-left: 1px solid #03768f; }

.body-header-border tbody th {
	border-right: 1px solid #03768f; }

.body-header-border tbody th + th {
	border-top: 1px solid #03768f; }

.footer-row-borders tfoot tr + tr, .row-borders tfoot tr + tr, .footer-borders tfoot tr + tr, .all-borders tfoot tr + tr {
	border-top: 1px solid #090a0e; }

.footer-row-borders tfoot tr:first-child, .row-borders tfoot tr:first-child, .footer-borders tfoot tr:first-child, .all-borders tfoot tr:first-child {
	border-top: 1px solid #03768f; }

.footer-column-borders tfoot th + td, .column-borders tfoot th + td, .footer-borders tfoot th + td, .all-borders tfoot th + td,
.footer-column-borders tfoot td + td,
.column-borders tfoot td + td,
.footer-borders tfoot td + td,
.all-borders tfoot td + td,
.footer-column-borders tfoot th + th,
.column-borders tfoot th + th,
.footer-borders tfoot th + th,
.all-borders tfoot th + th {
	border-left: 1px solid #03768f; }

.footer-header-border tfoot th:first-child {
	border-right: 1px solid #03768f;
	border-top: 1px solid #03768f; }

.footer-header-border tfoot th:last-child {
	border-left: 1px solid #03768f;
	border-top: 1px solid #03768f; }

.footer-header-border tfoot th + th {
	border-right: 1px solid #090a0e;
	border-top: 1px solid #03768f; }
