//* ====================================
//		SETTINGS
//	For defining VARIABLES [& placeholders?] (only)!!
//	Do NOT define any classes, &c.
//	Otherwise they'll be repeated on every import
//* ==================================== */

//* ====================================
//		COLORS
//		primary: 2E4057
//* ====================================
// if using a different name for the map, update @include palette();
$coreColors: (
	primary: #FFFD82,
	secondary: #FF9B71,
	tertiary: #E84855,
	accent: #048BA8,
	neutral: #2D3047,
) !default;

// MUST be imported AFTER defining $coreColors!
@import "color/functions";
@import "color/mixins";
// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
@include palette($coreColors, $color: 'primary', $rangeType: 'adaptive');

//* ====================================
//		FONTS & TYPOGRAPHY
//* ====================================
$fonts: (
	'copy': unquote("'Montserrat', sans-serif"),
	'heading': unquote("'Asap', sans-serif")
) !default;

$heading-color: getColor('accent-500') !default;
$a--color: getColor('tertiary-700') !default;
$a-hover--color: getColor('accent-700') !default;

//* ====================================
//		GENERAL DEFAULTS
//* ====================================
$defaults: (
	'padding': 0.75rem,
	'margin': 0.75rem,
	'gutter': 0.5rem,
	'border-width': 1px,
	'color-light': lightenColor(getColor('neutral-100'), 80),
	'color-dark': darkenColor(getColor('neutral-700'), 80)
) !default;

$default-pad: map-get($defaults, 'padding');
$default-margin: map-get($defaults, 'margin');
$padding-sizes: (
	'xs': $default-pad * 0.5,
	'sm': $default-pad * 0.8,
	'md': $default-pad,
	'lg': $default-pad * 1.5,
	'xl': $default-pad * 2
) !default;

$margin-sizes: (
	'xs': $default-margin * 0.5,
	'sm': $default-margin * 0.8,
	'md': $default-margin,
	'lg': $default-margin * 1.5,
	'xl': $default-margin * 2
) !default;

$hr-sizes: (
	'xs': 1px,
	'sm': 2px,
	'md': 3px,
	'lg': 5px,
	'xl': 7px
) !default;

//* ====================================
//		GRID & MEDIA-QUERY BREAKPOINTS
//* ====================================
$mq-breakpoints: (
	'mobile': 414px,
	'mobileLandscape': 736px,
	'tablet': 1024px,
	'desktop': 1280px,
	'wide': 1920px
) !default;

$max-columns: 12 !default;
//$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide) !default;

//* ====================================
//		SITE HEADER
//* ====================================
// for screen widths >= 1024; < 1024 == center;
$site-header--text-position: left;

$site-header--bg-color: getColor('primary', $coreColors) !default;
$site-header--bg-image: 'https://picsum.photos/1920/800?image=940&gravity=north' !default;

$site-title-a--color: getColor('accent-100') !default;

//* ====================================
//		SITE-NAV
//* ====================================
$site-nav--bg-color: getColor('tertiary-400') !default;
$site-nav-hover--bg-color: getColor('accent-400') !default;
$site-nav-active--bg-color: getColor('primary-400') !default;

/* NAV, GENERAL */
$nav--color: getColor('tertiary-400');
$nav-hover--color: getColor('accent-400');

//* ====================================
//		TABLE
//* ====================================
$table-thead-th--bg-color: getColor('accent-700') !default;
$table-tbody-th--bg-color: getColor('accent-100') !default;
$table-tfoot-th--bg-color: getColor('accent-400') !default;

// ZEBRA STRIPES
$table-striped--bg-color: getColor('accent-100') !default;

// BORDERS
$table--border-color: getColor('accent-700') !default;

// top, bottom; NON-STANDARD: left, right, top-outside, bottom-outside;
$caption--caption-side: bottom;
$caption--text-align: right;