// FOR DEFINING VARIABLES THAT CAN BE CHANGED
// E.G. header bg color

@import url('https://fonts.googleapis.com/css?family=Asap:700|Montserrat');
$fonts: (
	'copy': unquote("'Montserrat', sans-serif"),
	'heading': unquote("'Asap', sans-serif")
);

@include palette($coreColors, $color: 'primary', $harmony: 'none', $scaleColors: 12);
//@include palette($colorMap: $coreColors, $color: 'green', $harmony: 'compound', $rangeType: 'tintshade');

//@debug $palette;

/*
	GRID & MEDIA-QUERY VARIABLES
*/
$mq-breakpoints: (
	'mobile': 414px,
	'mobileLandscape': 736px,
	'tablet': 1024px,
	'desktop': 1280px,
	'wide': 1920px
);

$max-columns: 12;
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

/*
	TYPOGRAPHY VARIABLES
*/
$heading-color: getColor('accent-500');

// SITE HEADER
$site-header--bg-color: getColor('primary', $coreColors);

// SITE NAVIGATION
$site-nav--bg-color: getColor('accent', $coreColors);
$site-nav-hover--bg-color: getColor('accent-200');
$site-nav-active--bg-color: getColor('primary-400');