.grid {
	display: grid;
	//min-height: 100vh;
	height: 100%;
	grid-gap: 1em;

	> div, > article, > section {
		grid-column: span 2;
	}
}

.row {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center; // vertical dimensions
	align-items: stretch; // horizontal dimensions
	width: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	color: white;
}

.col {
	position: relative;
	flex: 1;
	margin: 0;
	padding: 0;
}

@import "mq";