/*
	col-xs-N = mobile size
	col-sm-N = mobile-landscape size
	col-md-N = tablet size
	col-lg-N = desktop size
	col-xl-N = wide size
*/

@include mq($from: 'mobileLandscape') {
	@for $i from 1 through $max-columns {
		.row#{$i}-sm > .col,
		.col-sm-#{$i} {
			flex: 1 0 (100% / $i);
		}
	}
}

@include mq($from: 'tablet') {
	.grid {
		display: grid;
	}

	.row {
		flex-flow: row wrap;
		align-items: stretch;
	}

	.row-vertical {
		flex-flow: column nowrap;
	}

	@for $i from 1 through $max-columns {
		.row#{$i} {
			flex-flow: row wrap;
		}
	}

	@for $i from 1 through ($max-columns / 2) {
		.row#{$i} > .col,
		.col-#{$i} {
			flex: 1 0 100%;
		}
	}

	@for $i from ($max-columns / 2 + 1) through $max-columns {
		.row#{$i} > .col { flex: 1 0 (100% / $i); }
		.col-#{$i} { flex: 1 0 (($i / $max-columns) * 100%); }
	}

	@for $i from 1 through $max-columns {
		.row#{$i}-md > .col { flex: 1 0 (100% / $i); }
		.col-md-#{$i} { flex: 1 0 (($i / $max-columns) * 100%); }
	}

	.text-columns {
		$max: null;
		@if $max-columns > 6 { $max: 6; } @else { $max: $max-columns; }
		@for $i from 1 through $max {
			&-sm-#{$i} {
				columns: $i;
			}
		}
	}
}

@include mq($from: 'desktop') {
	@for $i from 1 through ($max-columns / 2) {
		.row#{$i} > .col { flex: 1 0 (100% / $i); }
		.col-#{$i} { flex: 1 0 (($i / $max-columns) * 100%); }
	}

	@for $i from 1 through $max-columns {
		.row#{$i}-lg > .col{ flex: 1 0 (100% / $i); }
		.col-lg-#{$i} { flex: 1 0 (($i / $max-columns) * 100%); }
	}

	.text-columns {
		$max: null;
		@if $max-columns > 6 { $max: 6; } @else { $max: $max-columns; }
		@for $i from 1 through $max {
			&-md-#{$i} {
				columns: $i;
			}
		}
	}
}

@include mq($from: 'wide') {
	@for $i from 1 through $max-columns {
		.row#{$i}-xl > .col { flex: 1 0 (100% / $i); }
		.col-xl-#{$i} { flex: 1 0 (($i / $max-columns) * 100%); }
	}

	.text-columns {
		$max: null;
		@if $max-columns > 6 { $max: 6; } @else { $max: $max-columns; }
		@for $i from 1 through $max {
			&-xl-#{$i} {
				columns: $i;
			}
		}
	}
}