$mq-breakpoints: (
	'mobile': 414px,
	'mobileLandscape': 736px,
	'tablet': 1024px,
	'desktop': 1280px,
	'wide': 1920px
);

$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

@import "sass-mq";

@include mq($from: 'tablet') {
	.grid > div, .grid > article, .grid > section {
		grid-column: span 1;
	}
	.row { 
		flex-flow: row wrap;
		&1 > * { width: 100%; }
	}

	@for $i from 12 through 2 {
		.row#{$i} > * { width: 50%; }
	}

	@for $i from 1 through 3 {
		.col-#{$i}-6 { width: 50%; }
	}

	.col {
		&-4-6 { max-width: (4/6) * 100%; }
		&-5-6 { max-width: (5/6) * 100%; }
		&-6-6 { max-width: 100%; }
	}
	@for $i from 1 through 6 {
		.col-#{$i}-12 { max-width: 50%; }
	}
	.col {
		&-4-12 { max-width: (4/12) * 100%; }
		&-5-12 { max-width: (5/12) * 100%; }
		&-6-12 { max-width: 100%; }
	}
}

@include mq($from: 'desktop') {
	.grid6,
	.grid5,
	.grid4 { width: 25%; }
	.grid3 { width: 33%; }

	@for $i from 1 through 3 {
		.col-#{$i}-6 { max-width: ($i/6) * 100%; }
	}
	@for $i from 1 through 6 {
		.col-#{$i}-12 { max-width: ($i/12) * 100%; }
	}
}

@include mq($from: 'wide') {
	.grid6 { width: (100 / 6) * 1%; }
	.grid5 { width: (100 / 5) * 1%; }
}