@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url("https://fonts.googleapis.com/css?family=Asap:700|Montserrat");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html *, html *:before, html *:after, body *, body *:before, body *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%; }

/*
	COLORS
	* Palette defined in SETTINGS file
	* Remember to update @include palette in SETTINGS if you change the color names in the map, or if you switch to using an alternate naming scheme! Otherwise the mixin won't be able to find the colors and you'll get an error.
*/
.grid {
  display: grid;
  height: 100%;
  grid-gap: 1em; }
  .grid > div, .grid > article, .grid > section {
    grid-column: span 2; }

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  color: white; }

.col {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0; }

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media (min-width: 25.875em) {
    body:before {
      content: "mobile ≥ 414px (25.875em)"; } }
  @media (min-width: 46em) {
    body:before {
      content: "mobileLandscape ≥ 736px (46em)"; } }
  @media (min-width: 64em) {
    body:before {
      content: "tablet ≥ 1024px (64em)"; } }
  @media (min-width: 80em) {
    body:before {
      content: "desktop ≥ 1280px (80em)"; } }
  @media (min-width: 120em) {
    body:before {
      content: "wide ≥ 1920px (120em)"; } }

@media (min-width: 64em) {
  .grid > div, .grid > article, .grid > section {
    grid-column: span 1; }
  .grid6,
  .grid5,
  .grid4,
  .grid3,
  .grid2 {
    grid-template-columns: repeat(2, 1fr); }
  .grid1 {
    grid-template-columns: 1fr; } }

@media (min-width: 80em) {
  .grid6,
  .grid5,
  .grid4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid3 {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 120em) {
  .grid6 {
    grid-template-columns: repeat(6, 1fr); }
  .grid5 {
    grid-template-columns: repeat(5, 1fr); } }

/*
	TYPOGRAPHY VARIABLES
*/
body {
  font-family: 'Montserrat', sans-serif; }

p {
  padding: 0.25em 1em;
  margin: 0.5em; }
  p + p {
    margin-bottom: 1.5em; }

h1, .h1 {
  font-family: 'Asap', sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem; }

h2, .h2 {
  font-family: 'Asap', sans-serif;
  font-size: 2.7em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  padding: 1.107rem 0.25em; }

h3, .h3 {
  font-family: 'Asap', sans-serif;
  font-size: 2.43em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem; }

h4, .h4 {
  font-family: 'Asap', sans-serif;
  font-size: 2.187em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem; }

h5, .h5 {
  font-family: 'Asap', sans-serif;
  font-size: 1.9683em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem; }

h6, .h6 {
  font-family: 'Asap', sans-serif;
  font-size: 1.77147em;
  line-height: 1.2em;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem; }

.h2 {
  background-color: #a0918e;
  color: #fff; }

.h3, .h4, .h5 {
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 0.35em solid #a0918e; }

.h6 {
  color: #83716e; }

.title {
  padding-left: 1em;
  margin-left: 0.15em;
  margin-right: 0.15em;
  border-top: 3px solid #a0918e;
  border-bottom: 3px solid #a0918e; }
  @media (min-width: 64em) {
    .title {
      margin-left: 0.5em;
      margin-right: 0.5em; } }

@media (min-width: 80em) {
  h1, .h1 {
    font-family: 'Asap', sans-serif;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em; }
  h2, .h2 {
    font-family: 'Asap', sans-serif;
    font-size: 2.55em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em;
    margin: 0;
    padding: 1.0455rem 0.5em; }
  h3, .h3 {
    font-family: 'Asap', sans-serif;
    font-size: 2.1675em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em; }
  h4, .h4 {
    font-family: 'Asap', sans-serif;
    font-size: 1.84237em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em; }
  h5, .h5 {
    font-family: 'Asap', sans-serif;
    font-size: 1.56602em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em; }
  h6, .h6 {
    font-family: 'Asap', sans-serif;
    font-size: 1.33112em;
    line-height: 1.2em;
    margin: 0.375em 0.25em;
    padding: 0.1875em 0.125em; }
  .title {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  p {
    padding: 0.25em; }
    p + p {
      margin-bottom: 0.375em; }
  p + p:last-child {
    padding-bottom: 1.5em; } }

/* 
	COMPONENTS 
	- Small "pieces", e.g. button, code, pre; also table
	- Only items that can be used in various contexts
	- Grouped into: Inline, Input, Media, Messaging, Table, Lists
*/
.block {
  overflow: auto; }
  .block-margin {
    margin: 1em; }
  .block-padding {
    padding: 1em; }

/* 
	MODULES 
	- Collections of pieces (not always Components)
	- 'Blocks' that contain multiple elements, e.g. figure, form
	- Grouped into: Blocks, Block-Lists, Nav, Form, Figure
*/
.site-header {
  grid-area: site-header;
  margin: 0;
  padding: 0;
  background-color: #92b4a7; }

.site-nav {
  grid-area: site-nav;
  background-color: #93827f; }

.site-sidebar {
  grid-area: site-sidebar;
  background-color: #bdc4a7; }

.site-content {
  grid-area: site-content;
  background-color: #2f2f2f; }

.site-footer {
  grid-area: site-footer;
  background-color: #f3f9d2; }

.page-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-areas: "site-sidebar site-header" "site-sidebar site-nav" "site-sidebar site-content" "site-footer site-footer"; }

/*
	COLORS
*/
.bg-primary-100 {
  background-color: #b9cfc7; }

.border-primary-100 {
  border: 1px solid #b9cfc7; }

.text-primary-100 {
  color: #b9cfc7; }

.bg-primary-200 {
  background-color: #acc6bc; }

.border-primary-200 {
  border: 1px solid #acc6bc; }

.text-primary-200 {
  color: #acc6bc; }

.bg-primary-300 {
  background-color: #9fbdb2; }

.border-primary-300 {
  border: 1px solid #9fbdb2; }

.text-primary-300 {
  color: #9fbdb2; }

.bg-primary-400 {
  background-color: #92b4a7; }

.border-primary-400 {
  border: 1px solid #92b4a7; }

.text-primary-400 {
  color: #92b4a7; }

.bg-primary-500 {
  background-color: #7ba494; }

.border-primary-500 {
  border: 1px solid #7ba494; }

.text-primary-500 {
  color: #7ba494; }

.bg-primary-600 {
  background-color: #659381; }

.border-primary-600 {
  border: 1px solid #659381; }

.text-primary-600 {
  color: #659381; }

.bg-primary-700 {
  background-color: #557c6d; }

.border-primary-700 {
  border: 1px solid #557c6d; }

.text-primary-700 {
  color: #557c6d; }

.bg-secondary-100 {
  background-color: #d5d9c7; }

.border-secondary-100 {
  border: 1px solid #d5d9c7; }

.text-secondary-100 {
  color: #d5d9c7; }

.bg-secondary-200 {
  background-color: #c5cbb2; }

.border-secondary-200 {
  border: 1px solid #c5cbb2; }

.text-secondary-200 {
  color: #c5cbb2; }

.bg-secondary-300 {
  background-color: #bdc4a7; }

.border-secondary-300 {
  border: 1px solid #bdc4a7; }

.text-secondary-300 {
  color: #bdc4a7; }

.bg-secondary-400 {
  background-color: #a9b38d; }

.border-secondary-400 {
  border: 1px solid #a9b38d; }

.text-secondary-400 {
  color: #a9b38d; }

.bg-secondary-500 {
  background-color: #96a173; }

.border-secondary-500 {
  border: 1px solid #96a173; }

.text-secondary-500 {
  color: #96a173; }

.bg-secondary-600 {
  background-color: #808b5d; }

.border-secondary-600 {
  border: 1px solid #808b5d; }

.text-secondary-600 {
  color: #808b5d; }

.bg-secondary-700 {
  background-color: #68714c; }

.border-secondary-700 {
  border: 1px solid #68714c; }

.text-secondary-700 {
  color: #68714c; }

.bg-tertiary-100 {
  background-color: #f3f9d2; }

.border-tertiary-100 {
  border: 1px solid #f3f9d2; }

.text-tertiary-100 {
  color: #f3f9d2; }

.bg-tertiary-200 {
  background-color: #e6f3a1; }

.border-tertiary-200 {
  border: 1px solid #e6f3a1; }

.text-tertiary-200 {
  color: #e6f3a1; }

.bg-tertiary-300 {
  background-color: #d9ec71; }

.border-tertiary-300 {
  border: 1px solid #d9ec71; }

.text-tertiary-300 {
  color: #d9ec71; }

.bg-tertiary-400 {
  background-color: #cce640; }

.border-tertiary-400 {
  border: 1px solid #cce640; }

.text-tertiary-400 {
  color: #cce640; }

.bg-tertiary-500 {
  background-color: #b7d31c; }

.border-tertiary-500 {
  border: 1px solid #b7d31c; }

.text-tertiary-500 {
  color: #b7d31c; }

.bg-tertiary-600 {
  background-color: #8ca216; }

.border-tertiary-600 {
  border: 1px solid #8ca216; }

.text-tertiary-600 {
  color: #8ca216; }

.bg-tertiary-700 {
  background-color: #62710f; }

.border-tertiary-700 {
  border: 1px solid #62710f; }

.text-tertiary-700 {
  color: #62710f; }

.bg-accent-100 {
  background-color: #d4cdcc; }

.border-accent-100 {
  border: 1px solid #d4cdcc; }

.text-accent-100 {
  color: #d4cdcc; }

.bg-accent-200 {
  background-color: #c7bebc; }

.border-accent-200 {
  border: 1px solid #c7bebc; }

.text-accent-200 {
  color: #c7bebc; }

.bg-accent-300 {
  background-color: #baafad; }

.border-accent-300 {
  border: 1px solid #baafad; }

.text-accent-300 {
  color: #baafad; }

.bg-accent-400 {
  background-color: #ada09e; }

.border-accent-400 {
  border: 1px solid #ada09e; }

.text-accent-400 {
  color: #ada09e; }

.bg-accent-500 {
  background-color: #a0918e; }

.border-accent-500 {
  border: 1px solid #a0918e; }

.text-accent-500 {
  color: #a0918e; }

.bg-accent-600 {
  background-color: #93827f; }

.border-accent-600 {
  border: 1px solid #93827f; }

.text-accent-600 {
  color: #93827f; }

.bg-accent-700 {
  background-color: #83716e; }

.border-accent-700 {
  border: 1px solid #83716e; }

.text-accent-700 {
  color: #83716e; }

.bg-neutral-100 {
  background-color: #c5c5c5; }

.border-neutral-100 {
  border: 1px solid #c5c5c5; }

.text-neutral-100 {
  color: #c5c5c5; }

.bg-neutral-200 {
  background-color: #acacac; }

.border-neutral-200 {
  border: 1px solid #acacac; }

.text-neutral-200 {
  color: #acacac; }

.bg-neutral-300 {
  background-color: #939393; }

.border-neutral-300 {
  border: 1px solid #939393; }

.text-neutral-300 {
  color: #939393; }

.bg-neutral-400 {
  background-color: #7a7a7a; }

.border-neutral-400 {
  border: 1px solid #7a7a7a; }

.text-neutral-400 {
  color: #7a7a7a; }

.bg-neutral-500 {
  background-color: #616161; }

.border-neutral-500 {
  border: 1px solid #616161; }

.text-neutral-500 {
  color: #616161; }

.bg-neutral-600 {
  background-color: #484848; }

.border-neutral-600 {
  border: 1px solid #484848; }

.text-neutral-600 {
  color: #484848; }

.bg-neutral-700 {
  background-color: #2f2f2f; }

.border-neutral-700 {
  border: 1px solid #2f2f2f; }

.text-neutral-700 {
  color: #2f2f2f; }

/*
	TYPOGRAPHY & ALIGNMENT
*/
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.justify-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.no-pad {
  padding: 0; }

.no-margin {
  margin: 0; }

.pad-around {
  padding: 0.5rem; }

.pad-top {
  padding-top: 0.5rem; }

.pad-bottom {
  padding-bottom: 0.5rem; }

.pad-left {
  padding-left: 0.5rem; }

.pad-right {
  padding-right: 0.5rem; }

.pad-top-bottom {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pad-sides {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
