/*
	COLORS
	* Palette defined in SETTINGS file
	* Remember to update @include palette in SETTINGS if you change the color names in the map, or if you switch to using an alternate naming scheme! Otherwise the mixin won't be able to find the colors and you'll get an error.
*/

$coreColors: (
	primary: #92b4a7,
	secondary: #bdc4a7,
	tertiary: #f3f9d2,
	accent: #93827f,
	neutral: #2f2f2f,
);

// $coreColors: (
// 	'green': #C5CF3C,
// 	'sand': #DFE3AF,
// 	'brown1': #855D35,
// 	'brown2': #4F3C26,
// 	'brown3': #332A21
// );

@import "functions";
@import "mixins";