//* ====================================
//		COLOR SETTINGS
//		If using a different name for the map, update @include palette();
//* ====================================
// if using a different name for the map, update @include palette();
$coreColors: (
	'primary': 		#f4f4f9, // white smoke
	'secondary': 	#bddbae, // tea green, desaturated
	'tertiary': 	#f9cb40, // sunglow
	'accent': 		#2d728f, // teal blue
	'neutral': 		#424b54, // outer space
) !default;

$messageColors: (
	default: 	#5D576B,
	info: 		#41D3BD,
	success: 	#A9E190,
	alert: 		#F4F1BB,
	warn: 		#ED6A5A
);

// MUST be imported AFTER defining $coreColors!
@import "functions";
@import "mixins";

// quad/quadratic = square tetrad harmony; tetrad/tetradic = rectangular tetrad
$range: 'static';
@include palette($color: 'primary', $complement-name: 'complement', $rangeType: $range, $rangeDepth: 9);

// @debug $palette;