/* ====================================
		GRID
 * ==================================== */
@import "variables",
				"grid-base",
				"helpers";

.row { @extend %row; }

.row-reverse {
	@extend %row;
	flex-flow: row-reverse wrap;
}

.row-start {
	@extend %row;
	justify-content: flex-start;
}

.row-end {
	@extend %row;
	justify-content: flex-end;
}

.column { @extend %column; }

.col { @extend %col; }