/* ====================================
		GRID: HELPERS
 * ==================================== */

@each $i,$n in $colset {
	//@debug "#{$i} = #{$n}";

	%col.push-#{$i} {
		margin-left: $n;
	}

	%col.pull-#{$i} {
		margin-right: $n;
	}
}