/* ====================================
		TYPOGRAPHY
 * ==================================== */
body {
	font-family: getVal('copy', $fonts);
	color: getVal('text-dark', $defaults);
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: $a--color;
	font-size: 1rem;
	line-height: 1.3rem;

	&:hover {
		color: $a-hover--color;
		@include fade();
	}

	* > & {
		font-size: inherit;
		line-height: inherit;
	}
}

p {
	$pad: map-get($defaults, 'padding');
	$margin: map-get($defaults, 'margin');
	padding: 0 1em $pad;
	margin: 0;
	line-height: 1.3rem;
}