/* ====================================
		TYPOGRAPHY
 * ==================================== */
body {
	font-family: getVal('copy', $fonts);
	color: getVal('text-dark', $defaults);
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: $a--color;
	font-size: 1rem;
	line-height: 1.3rem;

	&:hover {
		color: $a-hover--color;
		@include fade($duration: 0.25);
	}

	* > & {
		font-size: inherit;
		line-height: inherit;
	}
}

p {
	$pad: map-get($defaults, 'padding');
	$margin: map-get($defaults, 'margin');
	padding: 0 1em $pad;
	margin: 0;
	line-height: 1.3rem;
}

.note {
	font-size: map-get($font-sizes, "sm");
	color: getColor('neutral-400');
	padding: 0 map-get($padding-sizes, 'sm');
	margin: 0 map-get($padding-sizes, 'sm');
	font-style: italic;
}

@each $name,$size in $font-sizes {
	.text-#{$name} {
		font-size: $size;
	}
}