body {
	font-family: getVal('copy', $fonts);
	color: getVal('text-dark', $defaults);
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: getColor('secondary-400');
	font-size: 1rem;
	line-height: 1.3rem;
	&:hover {
		color: getColor('primary-400');
		@include fade();
	}
	* > & {
		font-size: inherit;
		line-height: inherit;
	}
}

p {
	$pad: map-get($defaults, 'padding');
	$margin: map-get($defaults, 'margin');
	padding: 0 1em $pad;
	margin: 0;
	line-height: 1.3rem;
}

.text-columns {
	$max: null;
	@if $max-columns > 6 { $max: 6; } @else { $max: $max-columns; }
	@for $i from 1 through $max {
		&-#{$i} {
			columns: $i;
		}
	}
}